<div class="container">
    <form (ngSubmit)="pushMatch()" #matchForm>
        <h2 class="header">Add a Match</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="round">round</label>
                    <select [(ngModel)]="model.r_id" name="round" class="form-control">
                    <option *ngFor="let round of roundList" ngValue="{{round.round_no}}">{{round.round_no}}</option>
                  </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" placeholder="date" class="form-control" name="date" [(ngModel)]="date" bsDatepicker (ngModelChange)="formatDate()">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="time">Time</label>
                    <timepicker (ngModelChange)="formatTime($event)" [(ngModel)]="time" name="time" class="center-block" [showMeridian]='false' [mousewheel]="true" [arrowkeys]="true"></timepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clubOne">Club 1</label>
                    <select [(ngModel)]="model.c1" name="clubOne" class="form-control">
                <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
              </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clubTwo">Club 2</label>
                    <select [(ngModel)]="model.c2" name="clubTwo" class="form-control">
              <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
            </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>