@import 'variables';
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.gameweek_holder {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px dotted #ddd;
}

.round_holder {
    background-size: cover;
    background-position: center center;
    box-shadow: none;
    overflow: visible;
    .matches_info {
        overflow: hidden;

        .round_header {
            display: flex;
            align-items: center;
            text-align: center;
            color: #d4d4d4;
            background: #a0d34a;
            padding: 20px 40px;
            font-size: 18px;
            font-weight: bold;
            position: relative;

            .gameweek_title {
                font-size: 20px;
                font-weight: bold;
                padding: 22px 30px 15px 30px;
                color: #ffffff;
                position: absolute;
                left: 0;
            }

            .logo {
                position: absolute;
                right: 0;
                top: 1px;
                width: 214px;
                padding: 17px 25px 15px 30px;

                img {
                    width: 100%;
                }
            }
            .round {
                font-size: 25px;
                width: 100%;
                visibility: hidden;
            }
        }
        .playday {
            text-align: center;
            padding: 5px;
            background-color: #c3c3c3;
            color: #ffffff;
            font-size: 13px;
            font-weight: 100;
            line-height: 1;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        
            li {
                line-height: 2;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .jersy_and_team {
                    display: inline-block;
                    margin: 0 7px;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 14px;
                    align-items: center;
                    justify-content: center;
                    img {
                        display: inline-block;
                        width: 23px;
                    }
                    span {
                        width: 50px;
                    }
                }
                .game_time {
                    background: #212f64;
                    color: #fff;
                    padding: 0 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-radius: 3px;
                    line-height: 1.6;
                    font-size: 14px;
                    font-weight: 100;
                }
            }
            li:nth-child(even) {
                background: #eaeaea;
                color: #333;
                font-weight: 100;
            }
            li:nth-child(odd) {
                background: #f7f7f7;
                color: #333;
                font-weight: 100;
            }
        }
    }
    .feed_holder {
        width: 40%;
        margin: 0 0 0 10%;
        border: solid 1px #fff4f4;
        box-shadow: 3px 3px 50px 3px #ddd;
        h3 {
            font-size: 2rem;
            height: fit-content;
            background: $green;
            padding: 5px 50px;
            border-radius: 3px;
            text-align: center;
        }
        p {
            padding: 30px 150px;
        }
    }
}

.table_pagination {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2)
}

.modal {
    display: flex !important;
    align-items: center;
}

.player_pop_up {
    .modal-header {
        position: relative;
        padding: 0 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #929292;
        color: #fff;
        .player_pop_up_logo {
            width: 150px;
            margin-right: 45px;
            img {
                width: 100%;
                margin-top: 6px;
            }
        }
        .player_name {
            margin-right: auto;
            font-weight: bold;
            font-size: 18px;
            margin-top: 2px;
        }
        .close {
            margin-top: 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background: #ff6060;
            opacity: 1;
            color: #fff;
            text-shadow: none;
            font-size: 29px;
            width: 48px;
            line-height: 1;
        }
    }
    .modal-body {
        button {
            width: 100%;
            display: block;
            border: none;
            line-height: 2.4;
            font-size: 16px;
            color: #fff;
        }
        .make_captain_btn {
            margin-bottom: 10px;
            background: #1f7fbd;
        }
        .vie_info {
            background: #ffa34c;
        }
    }
}

.player_pop_up_stats .modal-body {
    padding: 0;
    .top_info {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        .jersy {
            width: 100px;
            margin-right: 15px;
            img {
                width: 100%;
            }
        }
        .player_info {
            .name {
                font-weight: bold;
            }
            .team {
                margin: 7px 0;
            }
            .position {
                text-align: center;
                background: #4faff3;
                line-height: 1.4;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }
    }
    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        padding: 10px 0;
        background: #0ebb8b;
        .stats_item {
            width: 25%;
            text-align: center;
            border-right: 1px solid #0e9871;
            .stats_item_holder {
                display: inline-block;
                text-align: left;
                .stats_item_title {
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }
        }
        .stats_item:last-child {
            border-right: none;
        }
    }
}

.left,
.right {
    display: none !important;
}

// Popup

.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #929292;
    color: #fff;
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.player_pop_up_logo {
    width: 150px;
	margin-right: 45px;
	margin-top: 10px;
	img {
		width: 100%;
	}
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.modal-body {
	.btn {
		display: block;
		background: #a0d24b;
		margin-top: 10px;
		line-height: 40px;
		padding: 0;
		color: #fff;
        width: calc(50% - 10px);
        margin-right: 10px;
        border: none;
        border-radius: 0;
	}

    input[type="text"] {
        display: block;
        width: 100%;
        padding: 0;
        text-indent: 15px;
        line-height: 2;
        margin-bottom: 10px;
        margin-top: 10px;
        border: none;
        background: #ececec;
        font-size: 15px;
    }

    textarea {
        display: block;
        width: 100%;
        resize: none;
        height: 130px;
        background: #eee;
        border: none;
        padding: 15px;
        font-size: 15px;
    }

    button {
        line-height: 2;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 15px;
        background: #a0d24b;
        color: #fff;
        border: none;
        font-size: 17px;
        margin-bottom: 10px;
    }
}


.game_stats_header {
    background: #212e63;
    text-align: center;
    color: #fff;
    line-height: 1.3;
    font-size: 14px;

    
}

.game_stats_item {
.col-md-6 {
    width: 50%;
    background: #b7c6ff;
    line-height: 1.8;
    margin: 5px 0;
    font-size: 14px;
}

.col-md-6:last-child {
    border-left: 6px solid #fff;
}
}

.carousel-inner {
    overflow: visible;
}

.carousel-control.left, .carousel-control.right {
    display: block !important;
    width: 150px;
    height: 40px;
    top: initial;
    bottom: 20px;
    background: #fff !important;
    z-index: 1;

    span {
        visibility: hidden;
    }
}

@media all and (max-width: 870px) { 
    .gameweek_holder {
        width: auto;
        max-width: 600px;
        margin: auto;
        margin-top: 50px;
    }

    .table_pagination {
        background: #a0d449;
        text-align: center;
        padding: 20px 0;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2)
    }
}

@media all and (max-width: 600px) { 
    .round_holder .matches_info .round_header .logo {
        width: 185px;
        padding: 22px 25px 15px 30px;
    }

    .round_holder .matches_info .round_header .gameweek_title {
        font-size: 17px;
    }
}