<div class="gameweek_holder">
    <div class="round_holder">
        <div class="matches_info">
            <div class="round_header">
                <p class="gameweek_title">Gameweek {{round.round_no}}</p>
                <p class="round text-center">Gameweek {{round.round_no}}</p>
                <div class="logo">
                    <img alt="" src="assets/images/logo.png">
                </div>
            </div>
            <div *ngFor="let day of round.days; let i = index">
                <h4 class="playday">{{day}}</h4>
                <ul>
                    <li *ngFor="let match of round.matches[i]">
                        <span class="jersy_and_team">
                            <img src="http://api.antiqueandarts.com/api/getJersey/{{match.club1_name}}.png" alt="{{match.club1_name}}">
                            <span>{{match.club1_name | slice:0:3 | uppercase}}</span>
                        </span>
                        <span class="game_time" (click)="openModal(results)" *ngIf="!isUpcoming">{{match.club1_score}} - {{match.club2_score}}</span>
                        <span class="game_time" *ngIf="isUpcoming"> vs </span>
                        <span class="jersy_and_team">
                            <span>{{match.club2_name | slice:0:3 | uppercase}}</span>
                            <img src="http://api.antiqueandarts.com/api/getJersey/{{match.club2_name}}.png" alt="{{match.club2_name}}">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
   
<ng-template #results>
    <div class="modal-header">
        <h4 class="modal-title">Match Statistic</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body cf">
        <div class="game_stats">
            <div class="game_stats_item cf">
                <p class="game_stats_header">Goals scored</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Assists</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Yellow cards</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Red cards</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Clean sheet</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Missed penaltys</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Saved penalties</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Auto Goal</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>

            <div class="game_stats_item cf">
                <p class="game_stats_header">Captain</p>
                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>

                <div class="col-md-6">
                    <p>Player Name</p>
                    <p>Player Name</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
