.main_title {
	font-size: 25px;
	font-weight: bolde;
	margin-bottom: 20px;
	font-weight: bold;
}

.subtitle {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 20px;
}

.first_price {
    border-top: 1px dotted #a9a9a9;
}

.price_container {
    padding: 25px 0;
    border-bottom: 1px dotted #a9a9a9;

	.prices_title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
		color: #3b57c1;
	}

	ul {
		line-height: 1.5;
		font-size: 16px;

		li {
			list-style: disc;
			margin-left: 20px;
			margin-bottom: 10px;
		}
	}
}

