.title_h1 {
    font-size: 21px;
    font-weight: bold;
    background: #717171;
    line-height: 2;
    padding: 0 20px;
    color: #ffffff;
    margin-bottom: 10px;
}
.image_text_holder {
    .featured_img {
        overflow: hidden;
        float: left;
        width: 40%;
        margin-top: 5px;
        padding: 0 30px 5px 0;
        img {
            width: 100%;
        }
    }
    .text_holder {
        line-height: 1.6;
        padding: 0;
    
        p {
            margin-bottom: 20px;
        }
    
    }
}
