<div class="holder" *ngIf="showArticle">
    <h1 class="title_h1">{{article.title}}</h1>
    <div class="image_text_holder">
        <div class="featured_img">
            <img src="http://api.antiqueandarts.com/api/getImage/{{article.image_path}}" alt="">
        </div>
        <div class="text_holder">
          <p>{{article.body}}</p>
        </div>
    </div>
</div>



