@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
.container {
    padding: 50px;
}

label {
    margin: 10px 0;
}

.header {
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
}

.modal_header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: red;
    display: inline;
    text-decoration: none;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: green;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
}