<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form (submit)="pushNews()">
        <h2 class="header">Post news</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="model.title">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control" (change)="handleFileInput($event)" name="title" #fileInput>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 2" [resizeToWidth]="562" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="fileToUpload">
            <div class="col-md-12">
                <img [src]="fileToUpload" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea rows="15" type="text" class="form-control" placeholder="Body" id="body" name="body" [(ngModel)]="model.body"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- remove a player -->

    <h2 class="header">Remove an Article</h2>
    <ul class="list-group list-group-flush club_list">
        <li class="list-group-item" *ngFor="let news of newsList">
            <span style="font-size: 18px; font-weight: bold">{{news.title}}</span>
            <span class="controls">
                <a class="edit" (click)="openModal(editArticleModal); sendData(news)"></a>
                <a (click)="deleteModal(news, confirmRemoveArticle)" class="remove"></a>
            </span>
        </li>
    </ul>
</div>

<ng-template #editArticleModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit an article</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <form (submit)="editNews()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="edit.title">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea type="text" class="form-control" placeholder="Body" id="body" name="body" [(ngModel)]="edit.body"></textarea>
                    </div>
                </div>
            </div>
            <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>
<ng-template #confirmRemoveArticle>
    <div class="modal-body text-center">
        <p>Do you want to remove Article?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeNews(); modalRef.hide()">Yes</button>
    </div>
</ng-template>