<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form>
        <h2 class="header">Add a Round</h2>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" (click)="addNewRound()" [disabled]="disableFlag">
                        Add new Round
                </button>
            </div>
        </div>
    </form>
    <!-- remove a player -->
    <h2 class="header">Edit Round</h2>
    <div class="close_all cf">
        <button class="btn btn-default pull-right" (click)="toggleAcc()">Toggle open</button>
    </div>
    <accordion>
        <accordion-group *ngFor="let round of roundList" [isOpen]='toggleAll'>
            <div accordion-heading class="header_controls">
                <span class="pull-left round-number">{{round.round_no}}</span>
                <a class="set_time" (click)="openDeadline(round, setDeadlineModal, $event)">Set round deadline </a>
                <!-- <a (click)="deleteModal(round.id, confirmRemoveRound)" class="remove"></a> -->
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let match of round['matches']">
                    <span class="club1"> {{match.club1_name}}</span>
                    <span class="versus">VS</span>
                    <span class="club2">{{match.club2_name}}</span>
                    <span class="controls">
                        <a class="edit" (click)="openModal(editMatchModal); sendData(match.club1_name, match.club2_name, round.round_no, match.id, match.time)"></a>
                        <a (click)="deleteModal(match.id, confirmRemoveMatch)"class="remove"></a>
                    </span>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>

<ng-template #editMatchModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit a Match</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="editMatch()" #matchForm>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-faded" *ngIf="matchTime">
                        Currently set for : {{matchTime}}
                        <small>
                            Select both date and time when editing
                        </small>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="round">round</label>
                        <select [(ngModel)]="edit.r_id" name="round" class="form-control">
                                <option *ngFor="let round of roundList" ngValue="{{round.round_no}}">{{round.round_no}}</option>
                              </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clubOne">Club 1</label>
                        <select [(ngModel)]="edit.c1" name="clubOne" class="form-control">
                            <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
                          </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clubTwo">Club 2</label>
                        <select [(ngModel)]="edit.c2" name="clubTwo" class="form-control">
                          <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row deadline-form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="text" placeholder="date" class="form-control" name="date" [(ngModel)]="editDate" bsDatepicker (ngModelChange)="formatEditDate()">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <timepicker (ngModelChange)="formatEditTime($event)" [(ngModel)]="editTime" name="time" class="center-block" [showMeridian]='false' [mousewheel]="true" [arrowkeys]="true" [showSpinners]="false"></timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>
<ng-template #confirmRemoveRound>
    <div class="modal-body text-center">
        <p>Do you want to remove this round?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeRound(); modalRef.hide()">Yes</button>
    </div>
</ng-template>
<ng-template #confirmRemoveMatch>
    <div class="modal-body text-center">
        <p>Do you want to remove this match?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeMatch(); modalRef.hide()">Yes</button>
    </div>
</ng-template>


<ng-template #setDeadlineModal>
    <div class="modal-header">
        <h2 class="modal_header">Set a deadline</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <form (submit)="setDeadline()" class="deadline-form">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-faded">Currently set for : {{roundTime}}</p>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" placeholder="date" class="form-control" name="date" [(ngModel)]="date" bsDatepicker (ngModelChange)="formatDate()">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="time">Time</label>
                        <timepicker (ngModelChange)="formatTime($event)" [(ngModel)]="time" name="time" class="center-block" [showMeridian]='false' [mousewheel]="true" [arrowkeys]="true"></timepicker>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary center-block" (click)="modalRef.hide()">Submit</button>
            </div>
        </form>
    </div>
</ng-template>