@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
.container {
    padding: 50px;
}

label {
    margin: 10px 0;
}

.header {
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
}

.modal_header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.header_controls {
    text-align: right;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
    flex: 0.3;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: red;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: green;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
    cursor: pointer;
}

.list-group li {
    text-align: center;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-between;
    flex-flow: row;
    border: none !important;
}

li.list-group-item:hover {
    background: #f5f5f5;
}

.club1 {
    flex: 0.3;
    background: #254f73;
    line-height: 39px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.club2 {
    flex: 0.3;
    background: #a90c0e;
    line-height: 39px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.versus {
    font-size: 20px;
    padding: 0 20px;
    -webkit-box-flex: 0.1;
    -ms-flex: 0.1;
    flex: 0.1;
    border-top: solid 3px yellowgreen;
    border-bottom: solid 3px yellowgreen;
    padding: 5px;
    font-weight: bold;
}

.set_time {
    color: #22527b;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
}

.deadline-form .form-group {
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.panel-heading {
    background-color: #337ab7 !important;
}

.text-faded {
    text-align: center;
    font-weight: bold;
    color: #ebebec;
    background: #333;
    padding: 10px;
}

small {
    display: block;
    font-size: 13px;
    color: #ddd;
}

table {
    border: none;
}

// .panel-body {
//     background: #ddd !important;
// }