.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
	text-decoration: none;
}

.main-section {
	max-width: 1125px;
	margin: 50px auto;
	min-height: calc(100vh - 697px);
}

@media all and (max-width: 1250px) {
    .main-section {
        max-width: 90%;
    }
}