<div class="news_list" *ngIf="newsList !== undefined">
    <div class="news_item" *ngFor="let news of newsList.data">
        <div class="news_item_contet cf">
            <div class="news_img">
                <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getImage/{{news.image_path}}" alt="">
            </div>

            <div class="news_text">
                <h3 class="title">{{news.title}}</h3>
                <p>{{ (news.body.length > 260)? (news.body | slice:0:260) + '...' : (news.body) }}</p>
            </div>

            <div class="read_more">
                <button routerLink="{{news.slug}}">Read More</button>
            </div>
            
        </div>
    </div>
</div>

<div class="pagination_news">
    <nav aria-label="Page News">
        <ff-pagination 
        (pageNext)="nextPage($event)" 
        (pagePrevious)="previousPage($event)" 
        (pageSet)="setPage($event)" 
        [items]="newsList" [type]="'pager'"></ff-pagination>
    </nav>
</div>