.news_item {
    position: relative;
    padding: 50px 0;
    background: #fff;
    border-bottom: 1px solid #ddd;

    .news_item_contet{
    position: relative;
        .news_img {
            float: left;
            width: 40%;
            overflow: hidden;
            margin-right: 3%;

            img {
                width: 100%;
            }
        }

        .news_text {
            position: relative;
            line-height: 1.6;
            float: right;
            width: 57%;
            .title {
                font-weight: bold;
                font-size: 21px;
                margin-bottom: 8px;
                color: #173090;
            }
        }

        .read_more {
            margin-top: 20px;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 57%;

            button {
                line-height: 2.5;
                padding: 0 20px;
                background: #88b73a;
                border: none;
                color: #fff;
                width: 100%;
                box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.1);
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                transition: all .2s ease;
            }

            button:hover {
                background: #75a12d;
            }
        }

    }
}

@media all and (max-width: 1000px) {
    .news_item { 
        width: auto;
        max-width: 600px;
        margin: auto;
        padding: 30px 0;
        .news_item_contet{ 
            .news_img {
                float: none;
                width: 100%;
                margin-bottom: 15px
            }
            .news_text {
                float: none;
                width: 100%;
            }

            .read_more {
                position: static;
                margin-top: 15px;
                width: 100%;

                button {
                    width: 100%;
                }
            }
        
        }
    }

    .pagination_news {
        width: auto;
        max-width: 600px;
        margin: auto;
    }
}