@import 'variables';

.profile_info_container {
    max-width: 800px;
    margin: auto;
    .profile_info_item {
        p {
            line-height: 2;
            margin-bottom: 15px;
            padding: 0 18px;
            font-size: 16px;
            background: #f7f7f7;

            span:first-child {
                font-weight: bold;
            }
            
            span:nth-child(2) {
                margin-left: 5px;
                color: #828282;
            }
        }

        .changebele {
            cursor: pointer;
        }

        .changebele:hover {
            background: #d4d4d4;
        }
    }
}



// Popup
.forget_pass_question {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 24px;
    color: #eaeaea;
}

.modal-body {
    font-size: 15px;

    .form_item {
        margin-bottom: 10px;
    }

    label {
        display: block;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        display: block;
        width: 100%;
        border: none;
        background: #f1f1f1;
        padding: 8px 15px;
    }
}
.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #333333;
    color: #fff;
}

.modal-content {
    overflow: hidden;
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.confirm_btn {
    background: #69ce49;
    border: none;
    line-height: 2;
    padding: 0 25px;
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 0 auto 20px auto;
    width: calc(100% - 30px);
}

.modal_login_item {
    margin-bottom: 20px;
    text-align: center;
}

.modal-header .player_pop_up_logo {
    width: 150px;
    margin-right: 45px;

    img {
        width: 100%;
        margin-top: 8px;
    }
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}