
<div class="container profile_info_container">
    <div class="col-md-6 profile_info_item">
        <p class="changebele" (click)="openModal(editName)"><span>Full Name:</span><span>{{myAccount.first_name}} {{myAccount.last_name}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class="changebele"><span>Username:</span><span>{{user.username}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class=""><span>E-mail:</span><span>{{user.email}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class="changebele" (click)="openModal(birthDate)"><span>Birthdate:</span><span>{{myAccount.birthdate}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class="changebele" (click)="openModal(editCountry)"><span>Country:</span><span>{{myAccount.country}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class="changebele" (click)="openModal(editCity)"><span>City:</span><span>{{myAccount.city}}</span></p>
    </div>
    <div class="col-md-6 profile_info_item">
        <p class="changebele" (click)="openModal(editPass)"><span>Change Password</span></p>
    </div>
</div>

<!-- <div class="row">
    <div class="panel-panel-primary text-center">
        <button class="btn btn-success" (click)="updateProfile()">Update Profile</button>
    </div>
</div> -->


<!-- PopUps -->
<ng-template #editName>
    <div class="modal-header">
        <h4 class="modal-title">Edit your name</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body cf">
        <div class="form_item">
            <input type="text" placeholder="Enter First Name" name="userFirstName" [(ngModel)]="myAccount.first_name">
        </div>

        <div class="form_item">
            <input type="text" placeholder="Enter Last Name" name="userLastName" [(ngModel)]="myAccount.last_name">
        </div>

    </div>

    <button class="confirm_btn" (click)="updateUserSettings()">Confirm</button>
</ng-template>



<!-- <ng-template #editUserName>
    <div class="modal-header">
        <h4 class="modal-title">Edit Username</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form_item">
            <input type="text" placeholder="Enter Username">
        </div>
    </div>

    <button class="confirm_btn" (click)="updateUserSettings()">Confirm</button>
</ng-template> -->



<ng-template #birthDate>
    <div class="modal-header">
        <h4 class="modal-title">Change Birthdate</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Datepicker" class="form-control" readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" (bsValueChange)="updateBirthday($event)" name="userBirthday" [(ngModel)]="myAccount.birthdate" />
        </div>
    </div>

    <button class="confirm_btn" (click)="updateUserSettings()">Confirm</button>
</ng-template>

<ng-template #editCountry>
    <div class="modal-header">
        <h4 class="modal-title">Change Country</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form_item">
            <select class="form-control" name="userCountry" id="userCountry" [(ngModel)]="myAccount.country">
                <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
            </select>
        </div>
    </div>

    <button class="confirm_btn" (click)="updateUserSettings()">Confirm</button>
</ng-template>



<ng-template #editCity>
    <div class="modal-header">
        <h4 class="modal-title">Change City</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form_item">
            <input type="text" placeholder="Enter your City"  name="userFirstName" [(ngModel)]="myAccount.city" />
        </div>
    </div>
    
    <button class="confirm_btn" (click)="updateUserSettings()">Confirm</button>
</ng-template>



<ng-template #editPass>
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form_item">
                <input type="password" placeholder="Enter current password" />
        </div>

        <div class="form_item">
            <input type="password" placeholder="Enter new password">
        </div>

        <div class="form_item">
            <input type="password" placeholder="Confirm new password">
        </div>
    </div>
    
    <button class="confirm_btn">Confirm</button>

    <a (click)="modalRef.hide();openModal(forgetPass)" class="forget_pass_question">Forget your current password?</a>
</ng-template>


<ng-template #forgetPass>
        <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
    
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
    
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>We will send you a new password to the email you are registered with.</p>
        </div>
        
        <button class="confirm_btn">Confirm</button>
    </ng-template>