<div class="settings_holder">

    <div class="settings_item">
      <button class="btn_ban" (click)="openModal(ban)">Ban Player</button>
    </div>

    <div class="settings_item">
      <button class="btn_delete" (click)="openModal(delete)">Delete League</button>
    </div>

</div>

<ng-template #ban>
		<div class="modal-header">
			<h4 class="modal-title">League Name</h4>
	
			<div class="player_pop_up_logo">
				<img src="assets/images/logo.png" alt="">
			</div>
	
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
        <div class="top_table">

            <div class="top_table_holder">
                <div class="top_user_info top_user_holder">
                    <p class="position">Pos</p>
                    <p class="name">User</p>
                    <p class="pts">Pts</p>
                </div>
                <div class="top_user_holder" (click)="modalRef.hide();openModal(banSure)">
                    <p class="position">1</p>
                    <p class="name">Player Name</p>
                    <p class="pts">31</p>
                </div>

                <div class="top_user_holder" (click)="openModal(banSure)">
                    <p class="position">2</p>
                    <p class="name">Player Name</p>
                    <p class="pts">25</p>
                </div>

                <div class="top_user_holder" (click)="openModal(banSure)">
                    <p class="position">3</p>
                    <p class="name">Player Name</p>
                    <p class="pts">23</p>
                </div>

                <div class="top_user_holder" (click)="openModal(banSure)">
                    <p class="position">4</p>
                    <p class="name">Player Name</p>
                    <p class="pts">21</p>
                </div>

                <div class="top_user_holder" (click)="openModal(banSure)">
                    <p class="position">5</p>
                    <p class="name">Player Name</p>
                    <p class="pts">16</p>
                </div>
            </div>
        </div>
		</div>
  </ng-template>
  

  <ng-template #delete>
      <div class="modal-header">
        <h4 class="modal-title">League Name</h4>
    
        <div class="player_pop_up_logo">
          <img src="assets/images/logo.png" alt="">
        </div>
    
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body delete_body">
        <p>Are you sure that you want delete <strong>Player Name</strong> league?</p>
        <button class="confirm_ban_btn">Confirm</button>
      </div>
    </ng-template>


    <ng-template #banSure>
        <div class="modal-header">
          <h4 class="modal-title">League Name</h4>
      
          <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
          </div>
      
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ban_body">
          <p>Are you sure that you want to ban <strong>Player Name</strong> from league?</p>
          <button class="confirm_ban_btn">Confirm</button>
        </div>
      </ng-template>