.settings_holder {
    .settings_item {
        max-width: 300px;
        margin: auto;
        button {
            display: block;
            width: 100%;
            line-height: 3;
            border: none;
            padding: 0;
            background: #333;
            margin-bottom: 20px;
            color: #fff;
        }

        .btn_delete {
            background: #ea4040;
        }

        .btn_ban {
            background: #ffc22b;
        }
    }
}

.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #333333;
    color: #fff;
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.player_pop_up_logo {
    width: 150px;
	margin-right: 45px;
	margin-top: 10px;
	img {
		width: 100%;
	}
}

.close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.modal-body {
	.btn {
		display: block;
		width: 100%;
		background: #333;
		margin-bottom: 15px;
		line-height: 3;
		padding: 0;
		color: #fff;
		font-size: 15px;
	}

	.btn_stats {
		background: #b147e2;
	}

	.btn_settings {
		background: #325a9c;
	}

	.btn_invite {
		background: #aaca3c;
	}

	.btn_leave {
		background: #828282;
	}
}


.top_table_holder {
    overflow: hidden;
    background: #eaeaea;
}

.top_user_holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.top_user_holder:hover {
    background: #fe5f5f;
    color: #fff;
}

.top_user_info.top_user_holder, .top_user_info.top_user_holder:hover {
    background: #3b57c1;
    color: #fff;
    cursor: default;
}

.top_table .position, .top_table .top_user_info.top_user_holder:hover .position {
    background: transparent;
}

.top_user_info .position {
    background: #3b56c1 !important;
}

.name {
    width: calc(100% - 100px);
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pts {
    width: 60px;
    text-align: center;
    font-size: 15px;
}

.top_user_holder .position {
    width: 40px;
    text-align: center;
    background: #6c8aff;
    color: #fff;
}

.top_user_holder .name:after {
    content: " ";
    height: 27px;
    width: 1px;
    background: #d6d6d6;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: auto;
}

.ban_body {
    p {
        margin-top: 15px;
    }

    .confirm_ban_btn {
        display: block;
        line-height: 2.5;
        color: #fff;
        background: #ff5151;
        padding: 0;
        width: 100%;
        border: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

.delete_body {
    p {
        margin-top: 15px;
    }

    .confirm_ban_btn {
        display: block;
        line-height: 2.5;
        color: #fff;
        background: #ff5151;
        padding: 0;
        width: 100%;
        border: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}