@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
.container {
    padding: 50px;
}

label {
    margin: 10px 0;
}

.header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
}

.modal_header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: red;
    display: inline;
    text-decoration: none;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: green;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
}

.league_id {
    font-size: 20px;
    padding: 0 20px;
    border-right: solid 1px #ddd;
}

.league_name {
    padding: 0 20px;
    color: #423939;
    font-size: 20px;
}

.league_rounds {
    padding: 0 20px;
    font-size: 14px;
    border-right: solid 1px #ddd;
    display: inline-block;
    width: 13%;
}

@media all and (max-width: 766px) {
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .league_id {
        font-size: 16px;
        padding: 0px;
        border-right: solid 1px #ddd;
    }
    .league_rounds {
        padding: 0 8px;
        font-size: 14px;
        border-right: solid 1px #ddd;
        display: inline-block;
        width: fit-content;
    }
    .league_name {
        padding: 0 20px;
        color: #423939;
        font-size: 15px;
        width: 51%;
        display: inline-block;
    }
    .controls {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}