<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form (submit)="pushLeague()">
        <h2 class="header">Add a League</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">League Name</label>
                    <input type="text" class="form-control" placeholder="League Name" id="league_name" name="leaguename" [(ngModel)]="model.leagueName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">Number of Rounds</label>
                    <input type="number" class="form-control" placeholder="Number of rounds" id="round_number" name="round_number" [(ngModel)]="model.roundsNum">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



    <h2 class="header">Remove a League</h2>
    <ul class="list-group list-group-flush league_list">
        <li class="list-group-item" *ngFor="let league of leagueList">
            <span class="league_id">
               {{league.id}} 
            </span>
            <p class="league_rounds">
                {{league.number_of_rounds}} rounds
            </p>
            <span class="league_name">
                {{league.name}}
            </span>
            <span class="controls">
                    <a class="edit" (click)="openModal(editLeagueModal); sendData(league.name, league.number_of_rounds, league.id)"></a>
                    <a (click)="deleteModal(league.id, confirmRemoveLeague)" class="remove"></a>
                </span>
        </li>
    </ul>
</div>

<ng-template #editLeagueModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit League</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <form (submit)="editLeague()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="club_name">League Name</label>
                        <input type="text" class="form-control" placeholder="Club Name" id="league_name" name="leaguename" [(ngModel)]="edit.leagueName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="club_name">Number of Rounds</label>
                        <input type="number" class="form-control" placeholder="Number of rounds" id="round_number" name="round_number" [(ngModel)]="edit.roundsNum">
                    </div>
                </div>
            </div>
            <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>

<ng-template #confirmRemoveLeague>
    <div class="modal-body text-center">
        <p>Do you want to remove League?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeLeague(); modalRef.hide()">Yes</button>
    </div>
</ng-template>