.selected-team {

    > .position {

        &.position-cb {
            bottom: 95px;
            left: 245px;
        }

        &.position-cbl {
            bottom: 95px;
            left: 165px;
        }

        &.position-cbr {
            bottom: 95px;
            right: 155px;
        }

        &.position-lb {
            bottom: 120px;
            left: 40px;
        }

        &.position-rb {
            bottom: 120px;
            right: 30px;
        }

        &.position-cmfl {
            bottom: 225px;
            left: 175px;
        }

        &.position-cmfr {
            bottom: 225px;
            right: 165px;
        }

        &.position-lmf {
            top: 160px;
            left: 80px;
        }

        &.position-rmf {
            top: 160px;
            right: 80px;
        }

        &.position-amf {
            top: 130px;
            left: 245px;
        }

        &.position-cf {
            top: 30px;
            left: 245px;
        }

        &.position-cfl {
            top: 60px;
            left: 170px;
        }

        &.position-cfr {
            top: 50px;
            right: 170px;
        }

        &.position-lwf {
            top: 50px;
            left: 90px;
        }

        &.position-rwf {
            top: 50px;
            right: 80px;
        }
    }

    &.formation-4-3-3 {

        > .position {

            &.position-cmfl {
                bottom: 235px;
                left: 110px;
            }
    
            &.position-cmfr {
                bottom: 235px;
                right: 110px;
            }
    
            &.position-amf {
                top: 160px;
            }

            &.position-lwf {
                top: 70px;
                left: 80px;
            }
    
            &.position-rwf {
                top: 70px;
                right: 70px;
            }
        }   
    }

    &.formation-4-5-1 {

        > .position {

            &.position-lmf {
                top: 150px;
            }
    
            &.position-rmf {
                top: 150px;
            }
        }
    }
    
    &.formation-3-5-2 {

        > .position {

            &.position-lb {
                bottom: 115px;
                left: 80px;
            }
    
            &.position-rb {
                bottom: 115px;
                right: 70px;
            }

            &.position-amf {
                top: 140px;
            }

            &.position-cfl {
                top: 50px;
                left: 170px;
            }
    
            &.position-cfr {
                top: 40px;
                right: 160px;
            }
        }
    }

    &.formation-3-4-3 {

        > .position {

            &.position-lb {
                bottom: 115px;
                left: 80px;
            }
    
            &.position-rb {
                bottom: 115px;
                right: 70px;
            }

            &.position-cmfl {
                bottom: 220px;
                left: 175px;
            }
    
            &.position-cmfr {
                bottom: 220px;
                right: 165px;
            }

            &.position-lmf {
                top: 180px;
                left: 70px;
            }
    
            &.position-rmf {
                top: 180px;
                right: 70px;
            }
        }
    }

    &.formation-5-4-1 {

        > .position {

            &.position-cb {
                bottom: 115px;
            }

            &.position-cbl {
                bottom: 115px;
                left: 145px;
            }
    
            &.position-cbr {
                bottom: 115px;
                right: 135px;
            }

            &.position-lb {
                bottom: 140px;
            }
    
            &.position-rb {
                bottom: 140px;
            }

            &.position-cmfl {
                bottom: 260px;
            }
    
            &.position-cmfr {
                bottom: 260px;
            }
    
            &.position-lmf {
                top: 105px;
            }
    
            &.position-rmf {
                top: 105px;
            }
        }
    }

    &.formation-5-3-2 {

        > .position {

            &.position-cb {
                bottom: 115px;
            }

            &.position-lb {
                bottom: 140px;
            }
    
            &.position-rb {
                bottom: 140px;
            }

            &.position-cbl {
                bottom: 115px;
                left: 145px;
            }
    
            &.position-cbr {
                bottom: 115px;
                right: 135px;
            } 

            &.position-cmfl {
                left: 120px;
                bottom: 245px;
            }
    
            &.position-cmfr {
                right: 110px;
                bottom: 245px;
            }

            &.position-amf {
                top: 160px;
            }
        }
    }
}