@import 'variables';
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

// .field {
//     position: relative;
//     height: 550px;
//     margin-right: 70px;
//     margin-top: 50px;

//     img {
//         margin-top: 5px;
//     }
// }

// .player_list {
//     position: relative;
//     z-index: 10;

//     ul {
//         width: 700px;
//         margin: 30px;
//         height: 70vh;
//         overflow-y: scroll;

//         li {
//             line-height: 2.5rem;
//             font-weight: bold;
//             font-size: 1.5rem;
//             text-align: center;

//             img {
//                 height: 60px;
//             }

//             span {
//                 font-size: 1.2rem;
//                 padding: 0 20px;
//                 color: $text;

// }

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
    text-decoration: none;
}


.field_holder {
    float: left;
    width: 675px;

    .field {
        position: relative;
    
        .selected-team-area {
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 5;
            width: 100%;
        
            .selected-team {
                height: 470px;
                margin-top: 15px;
                margin-left: 60px;
                width: 550px;
                position: relative;
        
                > .position {
                    width: 70px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.41);
                    position: absolute;
                    -webkit-box-shadow: 2px 7px 15px -4px rgba(0, 0, 0, 0.3);
                    box-shadow: 2px 7px 15px -4px rgba(0, 0, 0, 0.3);
            
                    .player {
                        text-align: center;
                        position: absolute;
                        bottom: 10px;
                        left: 0;
            
                        img {
                            height: 60px;

                            &:hover {
        
                                + .player-info {
                                    opacity: 1;
                                }
                            }
                        }
            
                        .player-info {
                            opacity: 0;
                            pointer-events: none;
                            width: 120px;
                            height: 70px;
                            position: absolute;
                            top: -20px;
                            z-index: 9999;
                            left: -115px;
                            background-color: rgba($black, .6);
                            transition: opacity .2s ease-out;
                            text-align: left;
                            
                            .number {
                                background-color: #3b57c1;
                                padding: 5px;
                                display: inline-block;
                                font-weight: bold;
                                color: #fff;
                            }
        
                            .position {
                                background-color: #eefb48;
                                padding: 5px;
                                display: inline-block;
                                margin-left: -4px;
                                font-weight: bold;
                                line-height: 1;
                            }
        
                            .name {
                                display: block;
                                margin-top: 10px;
                                margin-left: 5px;
                                color: $white;
                            }
                        }
                    }
            
                    &:after {
                        content: attr(align);
                        position: absolute;
                        bottom: -26px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        text-align: center;
                        font-size: 14px;
                        color: #ffffff;
                        background-color: #c3c3c38a;
                        padding: 3px 5px 2px;
                        border-top: 3px solid #edff48;
                    }
            
                    &.position-gk {
                        bottom: -15px;
                        left: 242px;
                    }
                }
            }
        }
    }
    .field img {
        width: 100%;
    }

    .my_team_bench {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        background: rgba(70,99,204,1);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        background: url('assets/images/bg-table.jpg');
        

        .my_team_bench_item {
            width: 25%;
            text-align: center;
            padding: 0 20px;

            img {
                width: 80%;
            }

            .name {
                background: rgba(255, 255, 255, 0.7);
                padding: 5px;
                width: calc(100% - 40px);
                margin: auto;
                -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
                border-radius: 3px;
                margin-top: 6px;
                color: #444;
            }

            .position {
                margin-top: 12px;
                font-size: 16px;
                font-weight: bold;
                color: #4b62bf;
            }
        }
    }
}

.my_team_page_sidebar {
    float: right;
    width: calc(100% - 720px);
    background: #ffffff;
    padding-bottom: 0px;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-bottom: 20px;

    .name {
        font-size: 20px;
        line-height: 2;
        color: #ffffff;
        padding-left: 25px;
        background: #3b57c1;
    }

    .my_team_page_sidebar_item_title {
        line-height: 2.5;
        font-size: 17px;
        font-weight: bold;
        color: #3b57c1;
    }

    .items {
        padding-bottom: 20px;
    }

    ul {
        padding-top: 15px;
        overflow: hidden;

        li {
            padding: 5px 15px;
            line-height: 28px;
            background: #f9f9f9;
            border-bottom: 1px solid #fff;
            font-size: 15px;
            text-align: left;

            span:first-child {
                float: left;
                color: #737373;
            }

            span:last-child {
                float: right;
                font-size: 14px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .my_team_page_sidebar_item_title, ul {
        margin: 0 20px;
    }

    .panel-panel-primary {
        margin: 0 20px;
        padding: 10px 20px;
        background: #f9f9f9;
        
        h3 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #3b56c1;
        }

        .panel-body {
            padding: 0;


        }
    }
}


.gameweek_holder {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px dotted #ddd;

    .gameweek_title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333;
    }
}

.round_holder {
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    .matches_info {
        overflow: hidden;
        .round_header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            color: #4c4c4c;
            background: url(assets/images/bg-table.jpg);
            padding: 20px 40px;
            font-size: 18px;
            font-weight: bold;
 

            .logo {
                width: 200px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .round {
                margin-right: 7px;
            }

            .time {
                margin-left: 7px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            li {
                line-height: 2;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .jersy_and_team {
                    display: inline-block;
                    margin: 0 7px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    img {
                        display: inline-block;
                        width: 30px;
                    }
                    span {
                        width: 50px;
                    }

                }
                .game_time {
                    background: #4b63bf;
                    color: #fff;
                    padding: 0 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-radius: 3px;
                    line-height: 1.6;
                    font-size: 14px;
                    font-weight: 100;
                }
       
            }
            li:nth-child(even) {
                background: #fff;
                color: #333;
                font-weight: 100;
            }
            li:nth-child(odd) {
                background: #e2e2e2;
                color: #333;
                font-weight: 100;
            }
        }
    }



    .table_pagination {
        background: #3b57c1;
        background: url('assets/images/bg-table.jpg');
        text-align: center;
        padding: 20px 0;

        button {
            border: none;
            width: 150px;
            line-height: 2;
            text-align: center;
            background: rgba(255, 255, 255, 0.15);
            color: #3b57c1;
            border: 3px solid;
            box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);

            .arrow_icon {
                margin: 0 10px;
            }
        }

        .prev {
            float: left;
            border-left: none;
        }

        .next {
            float: right;
            border-right: none;
        }
    }

    .feed_holder {
        width: 40%;
        margin: 0 0 0 10%;
        border: solid 1px #fff4f4;
        box-shadow: 3px 3px 50px 3px #ddd;
        h3 {
            font-size: 2rem;
            height: fit-content;
            background: $green;
            padding: 5px 50px;
            border-radius: 3px;
            text-align: center;
        }
        p {
            padding: 30px 150px;
        }
    }
}

.modal {
        display: flex !important;
    align-items: center;
}

.player_pop_up {
  
    
        .modal-header {
            position: relative;
            padding: 0 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #333333;
            color: #fff;

            .player_pop_up_logo {
                width: 150px;
                margin-right: 45px;
                
                img {
                    width: 100%;
                    margin-top: 6px;
                }
            }

            .player_name {
                margin-right: auto;
                font-weight: bold;
                font-size: 18px;
                margin-top: 2px;
            }

            .close {
                margin-top: 0;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background: #ff6060;
                opacity: 1;
                color: #fff;
                text-shadow: none;
                font-size: 29px;
                width: 48px;
                line-height: 1;
            }
        }

        .modal-body {
            
            button {
                width: 100%;
                display: block;
                border: none;
                line-height: 2.4;
                font-size: 16px;
                color: #fff;
            }

            .make_captain_btn {
                margin-bottom: 10px;
                background: #1f7fbd;
            }

            .vie_info {
                background: #ffa34c;
            }
        }
}


.player_pop_up_stats .modal-body {
    padding: 0;

    .top_info {
        display: flex;
        align-items: center;
        padding: 10px 20px;

        .jersy {
            width: 100px;
            margin-right: 15px;

            img {
                width: 100%;
            }
        }

        .player_info {
            .name {
                font-weight: bold;
            }

            .team {
                margin: 7px 0;
            }

            .position {
                text-align: center;
                background: #4faff3;
                line-height: 1.4;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }

    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        padding: 10px 0;
        background: #0ebb8b;

        .stats_item {
            width: 25%;
            text-align: center;
            border-right: 1px solid #0e9871;

            .stats_item_holder {
                display: inline-block;
                text-align: left;

                .stats_item_title {
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }
        }

        .stats_item:last-child {
            border-right: none;
        }
    }
}