/***** VARIABLES *****/

$black: #000000;
$white: #ffffff;
$lightWhite: #fff4f4;
$red: #ff0000;
$text: #242424;
$darkGreen: #02894e;
$purple: #38003C;
$title-purple: #6f006b;
$grey: #66615b;
// color of navbar background 
$green: #00FF87;
$grass: rgb(11, 186, 104);
// h2 in navbar
$h2-col: #38003c;
// navbar on hover
$nav-hov: #027945;
// green buttons
$green-btn: #53d644;
// main-green
$main-green: #76ff8a;
$nav-bg: rgba(56, 0, 60, 0.95);