// ===========================  colors 
// used for page bg
$base-color:#f1f2f7;
// used for panel bg 
$primary-color:white;
$primary-text:darkslategray;
$secondary-color: #2a3542;
$secondary-text:#ddd;
$tertiary-color:#66615B;
$tertiary-text:#ddd;
$accent:lightsalmon;
$accent-neutral:#dde;
$accent-information:khaki;
$accent-positive:turquoise;
$accent-negative:#7b1d11;
//icons
$logout-icon:"\f08b";
$write-icon:"\f055";
$edit-icon:"\f040";
$comments-icon:"\f27b";
$user-icon:"\f007";
$dashboard-icon:"\f0e4";
$trophy:"'\f091";
$stopwatch: "\f2f2";
$round:"\f192";
$season: "\f133";
$team: "\f0c0";
$user: "\f21b";
// ========================= MIXINS
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin round-corner() {
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    border-radius: .3rem;
}

@mixin left-icon() {
    content: "\f248";
    font-family: FontAwesome;
    padding-right: .6em;
}

@mixin shadow() {
    box-shadow: 1px 1px 3px rgba(black, .15);
}

@mixin button($color) {
    background: $color;
    border: none;
    border-bottom: solid 4px darken($color, 10%);
    padding: .7em 3em;
    margin: 1em 0;
    color: white;
    text-shadow: 0 -1px 0 darken($color, 10%);
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    border-radius: .5em;
}

@mixin feedback($color, $icon: '\f06a') {
    background: lighten( $color, 20%);
    color: darken($color, 45%);
    margin: 1em;
    padding: .5em .5em .5em 2em;
    border: solid 1px $color;
    &:before {
        content: $icon;
        font-family: fontawesome;
        color: darken($color, 20%);
        margin-left: -1.5em;
        margin-right: .5em;
    }
    li:before {
        border-left-color: lighten($color, 10%);
    }
}

@import url('https://fonts.googleapis.com/css?family=Muli');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html {
    box-sizing: border-box;
}
body {
    overflow: visible !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #ddd;
    font-family: 'Open Sans', arial, sans-serif;
    color: $primary-text;
}

body.login {
    background-color: white;
    max-width: 500px;
    margin: 10vh auto;
    padding: 1em;
    height: auto;
}


/* general utility classes */

.warn {
    color: $accent-negative;
}


/* header */

header[role=banner] {
    background: #fff;
    color: #000;
    @include shadow;
    font-family: 'muli';
    h1 {
        margin: 0;
        font-weight: 300;
        padding: 1rem;
    }
    .logo_main_menu {
        width: 185px;
        margin: 10px 20px;
        img {
            width: 100%;
            margin: 8px 0 5px 0;
        }
    }
    .utilities {
        width: 100%;
        background: $tertiary-color;
        color: $tertiary-text;
        li {
            a {
                padding: .7em;
                display: block;
                color: #000;
                font-weight: bold;
            }
        }
    }
}


/* header */

.utilities a:before {
    @include left-icon;
}

.logout a:before {
    content: $logout-icon;
}

.users a:before {
    content: $user-icon;
}

nav[role=navigation] {
    background: url('/assets/images/admin-panel-bg.jpg');
    color: $tertiary-color;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    li {
        padding: 10px 0px;
        &:hover {
            background-color: rgba(white, .10);
        }
        a {
            color: #fff;
            text-decoration: none;
            display: block;
            line-height: 40px;
            font-size: 17px;
            font-weight: bold;
            &:before {
                @include left-icon;
            }
        }
    }
    /* icons */
    .club a:before {
        content: $dashboard-icon;
    }
    .league a:before {
        content: $trophy;
    }
    .match a:before {
        content: $edit-icon;
    }
    .news a:before {
        content: $comments-icon;
    }
    .player a:before {
        content: $user-icon;
    }
    .round a:before {
        content: $round;
    }
    .season a:before {
        content: $season;
    }
    .squad a:before {
        content: $team;
    }
    .user a:before {
        content: $user;
    }
}

.current {
    background-color: rgba(white, .1);
}

.dashboard .dashboard a,
.write .write a,
.edit .edit a,
.comments .comments a,
.users .users a {
    @extend .current;
}


/* typography */

a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4 {
    font-weight: 300;
    margin: 0;
}

h2 {
    color: darken($accent-positive, 15%);
}

b {
    color: $accent;
}

.hint {
    color: lightslategray;
}


/* lists */

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    li {
        position: relative;
        padding-left: 1.2em;
        margin: .5em 0;
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            top: .3em;
            border-left: solid 10px $accent-neutral;
            border-top: solid 5px transparent;
            border-bottom: solid 5px transparent;
        }
    }
}

.league_holder {
    position: absolute;
    top: 25%;
    left: 15%;
    display: flex;
    span {
        position: relative;
        line-height: 30px;
        padding: 0 20px 0 0;
        font-weight: bold;
    }
}

@media screen and (min-width:767px) {
    .router_holder {
        margin-left: 11.6%;
        margin-top: 74px;
        height: 92.2vh;
        width: calc(100vw - 216px);
    }
    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent !important;
    }
    .navbar-collapse {
        padding: 0 !important;
    }
    html,
    body {
        height: 100%;
    }
    header[role=banner] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        height: 75px;
        .utilities {
            position: absolute;
            top: 25%;
            right: 0;
            background: transparent;
            color: $primary-text;
            width: auto;
            li {
                display: inline-block;
                a {
                    padding: .5em 1em;
                }
            }
        }
    }
    nav[role=navigation] {
        position: fixed;
        width: 15%;
        top: 74px;
        bottom: 0px;
        height: 100vh;
        left: -1px;
        border-radius: 0;
    }
    main[role=main] {
        margin: 75px 0 40px 200px;
        @include clearfix;
    }
    .panel {
        margin: 2% 0 0 2%;
        float: left;
        width: 96%;
        @include clearfix;
    }
    .box {
        padding: 1rem;
    }
    .onethird {
        @extend .box;
        width: 33.333%;
        float: left;
    }
    .twothirds {
        @extend .box;
        width: 66%;
        float: left;
    }
    footer[role=contentinfo] {
        clear: both;
        margin-left: 200px;
    }
}

@media screen and (min-width:900px) {
    footer[role=contentinfo] {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0px;
        margin: 0;
    }
    .panel {
        width: 47%;
        clear: none;
        &.important {
            width: 96%;
        }
        &.secondary {
            width: 23%;
        }
    }
}

@media screen and (max-width:1450px) {
    .league_holder {
        position: absolute;
        top: 25%;
        left: 25%;
        display: flex;
        span {
            position: relative;
            line-height: 30px;
            padding: 0 20px 0 0;
            font-weight: bold;
        }
    }
}

@media screen and (max-width:767px) {
    .router_holder {
        margin: -20px auto 0 auto;
        height: fit-content;
    }
    .league_holder {
        position: relative;
        top: 0%;
        left: 0%;
        display: block;
        width: 320px;
        margin: 0 auto;
        span {
            color: #000;
            text-align: center;
            display: block;
        }
    }
    nav {
        li {
            a {
                line-height: 10px !important;
                text-align: center;
            }
        }
    }
    header {
        .utilities {
            background: #fff !important;
            color: #000 !important;
            a {
                text-align: center;
            }
        }
        .logo_main_menu {
            margin: 0 auto !important;
            img {
                margin: 0 !important;
            }
        }
    }
}