<header role="banner">
    <div class="logo_main_menu" [routerLink]="['league']">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div *ngIf="availableLeagues.length > 0" class="league_holder">
        <span>League: </span>
        <select (change)="setItem()" [(ngModel)]="league" name="league" class="form-control">
            <option *ngFor="let league of availableLeagues" [ngValue]="league">{{league.name}}</option>
        </select>
    </div>
    <ul class="utilities">
        <li class="users"><a>{{admin.first_name}}'s Admin Panel</a></li>
        <li class="logout warn"><a (click)="openModal(confirmLogout)">Log Out</a></li>
    </ul>
</header>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
    </div>
    <div class="collapse navbar-collapse" [collapse]=isCollapsed>
        <ul class="main nav">
            <!-- <li class="season"><a [routerLink]="[ 'season']">Season</a></li> -->
            <li class="match" (click)="isCollapsed = !isCollapsed"><a [routerLink]="['league']">League</a></li>
            <li class="round" (click)="isCollapsed = !isCollapsed"><a [routerLink]="[ 'round']">Round</a></li>
            <li class="club" (click)="isCollapsed = !isCollapsed"><a [routerLink]="['club']">Club</a></li>
            <li class="player" (click)="isCollapsed = !isCollapsed"><a [routerLink]="[ 'player']">Player</a></li>
            <li class="match" (click)="isCollapsed = !isCollapsed"><a [routerLink]="['match']">Match</a></li>
            <li class="squad" (click)="isCollapsed = !isCollapsed"><a [routerLink]="[ 'squad']">Post Match Info</a></li>
            <li class="user" (click)="isCollapsed = !isCollapsed"><a [routerLink]="[ 'user']">Users</a></li>
            <li class="news" (click)="isCollapsed = !isCollapsed"><a [routerLink]="[ 'news']">News</a></li>
        </ul>
    </div>
</nav>
<div class="router_holder">
    <router-outlet></router-outlet>
</div>

<ng-template #confirmLogout>
    <div class="modal-body text-center">
        <p>Do you want to logout?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="adminLogout(); modalRef.hide()">Yes</button>
    </div>
</ng-template>