<ul class="pagination" *ngIf="items !== undefined && type === 'pagination'">
    <li class="page-item" [ngClass]="{'disabled': items.prev_page_url === null}">
        <a class="page-link" (click)="setPage(1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item" *ngIf="items.current_page - 1 > 0" (click)="previousPage()"><a class="page-link">{{items.current_page - 1}}</a></li>
    <li class="page-item active"><a class="page-link">{{items.current_page}}</a></li>
    <li class="page-item" *ngIf="items.current_page + 1 <= items.last_page" (click)="nextPage()"><a class="page-link">{{items.current_page + 1}}</a></li>
    <li class="page-item" [ngClass]="{'disabled': items.next_page_url === null}">
        <a class="page-link" (click)="setPage(items.last_page)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>

<ul class="pager" *ngIf="items !== undefined && type === 'pager'">
    <li class="previous" *ngIf="items.current_page - 1 > 0" (click)="previousPage()" [ngClass]="{'disabled': items.prev_page_url === null}">
        <a><span aria-hidden="true">&larr;</span> Newer</a>
    </li>
    <li class="next" *ngIf="items.current_page + 1 <= items.last_page" (click)="nextPage()" [ngClass]="{'disabled': items.next_page_url === null}">
        <a>Older <span aria-hidden="true">&rarr;</span></a>
    </li>
</ul>