.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #4d6ee8;
    border: 1px solid;
}