<div class="container">
    <form (ngSubmit)="pushPlayer()">
        <h2 class="header">Add a Player</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="round">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" id="first_name" name="firstName" [(ngModel)]="model.firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clubOne">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="lastName" [(ngModel)]="model.lastName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clubTwo">Club</label>
                    <select [(ngModel)]="model.club" name="club" class="form-control">
                <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
                  </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clubTwo">Position</label>
                    <select [(ngModel)]="model.position" name="position" class="form-control">
              <option value="GK">GK</option>
              <option value="DEF">DEF</option>
              <option value="MID">MID</option>
              <option value="ATK">ATK</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Player Price</label>
                    <input type="number" class="form-control" placeholder="Player Price" id="price" name="price" [(ngModel)]="model.price">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number">Player Number</label>
                    <input type="number" class="form-control" placeholder="Player Number" id="number" name="number" [(ngModel)]="model.number">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="text-muted">*You can view players under the "club" tab</p>
</div>