<div class="cf">
    <div class="top_table top_table_dream_team">
        <h2>Dream Team From Last Round</h2>

        <div class="top_table_holder">
            <div class="top_user_info top_user_holder">
                <p class="position">Pos</p>
                <p class="name">Player</p>
                <p class="pts">Pts</p>
            </div>
            <div *ngFor="let player of goalies" class="top_user_holder" (click)="sendData(dreamTeamPlayer, player)">
                <p class="position">{{player.position}}</p>
                <p class="name">
                    <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.name}}.png" alt="club jersey" style="display: block; width: 100%;">
                    <span>{{
                  player.first_name}} {{player.last_name}}</span></p>
                <p class="pts">{{player.total}}</p>
            </div>
            <div *ngFor="let player of defenders" class="top_user_holder" (click)="sendData(dreamTeamPlayer, player)">
                <p class="position">{{player.position}}</p>
                <p class="name">
                    <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.name}}.png" alt="club jersey" style="display: block; width: 100%;">
                    <span>{{
                      player.first_name}} {{player.last_name}}</span></p>
                <p class="pts">{{player.total}}</p>
            </div>
            <div *ngFor="let player of midfielders" class="top_user_holder" (click)="sendData(dreamTeamPlayer, player)">
                <p class="position">{{player.position}}</p>
                <p class="name">
                    <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.name}}.png" alt="club jersey" style="display: block; width: 100%;">
                    <span>{{
                          player.first_name}} {{player.last_name}}</span></p>
                <p class="pts">{{player.total}}</p>
            </div>
            <div *ngFor="let player of attackers" class="top_user_holder" (click)="sendData(dreamTeamPlayer, player)">
                <p class="position">{{player.position}}</p>
                <p class="name">
                    <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.name}}.png" alt="club jersey" style="display: block; width: 100%;">
                    <span>{{
                              player.first_name  }} {{player.last_name}}</span></p>
                <p class="pts">{{player.total}}</p>
            </div>

            <!-- 
            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">CFL</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Stiv Homic</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">LMF</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Kobaja Grande</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">CMFL</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Sisko Sisic</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">CMFR</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Veseli Polip</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">RMF</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Klitic Grande</span></p>
                <p class="pts">243</p>
            </div>


            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">LB</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Mustafa Brankovic</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">CBL</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Bog Otac</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder">
                <p class="position">9</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Ups Hops</span></p>
                <p class="pts">243</p>
            </div>

            <div class="top_user_holder" (click)="openModal(dreamTeamPlayer)">
                <p class="position">CBR</p>
                <p class="name"><img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;"><span>Mad Peric</span></p>
                <p class="pts">243</p>
            </div> -->
        </div>
    </div>

    <div class="top_table">
        <h2>Top 11 Breede Fantasy Managers</h2>

        <div class="top_table_holder">
            <div class="top_user_info top_user_holder">
                <p class="position">Pos</p>
                <p class="name">User</p>
                <p class="pts">Pts</p>
            </div>
            <div *ngFor="let manager of topManagerList; let i = index" class="top_user_holder" (click)="managerDetails(manager, fantasyManager)">
                <p class="position">{{i + 1}}</p>
                <p class="name">{{manager.username}}</p>
                <p class="pts">{{manager.points}}</p>
            </div>
        </div>
    </div>

</div>

<ng-template #dreamTeamPlayer>
    <div class="player_pop_up player_pop_up_stats">
        <div class="modal-header cf">
            <h4 class="modal-title player_name">{{playerModal.first_name}}</h4>
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="top_info">
                <div class="jersy">
                    <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{playerModal.name}}.png" alt="club jersey">
                </div>

                <div class="player_info">
                    <p class="name">{{playerModal.first_name}} {{playerModal.last_name}}</p>
                    <p class="team">{{playerModal.name}}</p>
                    <p class="position">{{playerModal.position}}</p>
                </div>
            </div>

            <div class="stats">
                <!-- <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">GW 30</p>
                        <p class="stats_item_val">15pts</p>
                    </div>
                </div> -->

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Total</p>
                        <p class="stats_item_val">{{playerModal.total}}</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Average</p>
                        <p class="stats_item_val">{{playerModal.total}}</p>
                    </div>
                </div>

                <!-- <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Price</p>
                        <p class="stats_item_val">$16</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</ng-template>


<ng-template #fantasyManager>
    <div class="modal-header">
        <h4 class="modal-title">{{selectedManager.username}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">

        <div class="player_stats_holder">
            <div class="player_stats_item cf">
                <p><span class="label_stats">PTS:</span><span class="value">{{selectedManager.points}}</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">PTS Last Gameweek:</span><span class="value">{{selectedManager.points}}</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">Average PTS per Game:</span><span class="value">{{selectedManager.points}}</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">Start playing:</span><span class="value">{{selectedManager.startDate}}</span></p>
            </div>
        </div>

        <div class="btn_holder">
            <button (click)="viewTeamForManager()">View Team</button>
        </div>
    </div>
</ng-template>