.top_table {
	float:right;
    width: 48%;
    margin-bottom: 70px;

	h2 {
	    font-size: 20px;
	    margin-bottom: 10px;
	    font-weight: bold;
	}

	.top_table_holder {
	    box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.18);
	    overflow: hidden;

		.top_user_holder:last-child {
			border-bottom: none;
		}

		.top_user_holder {
			display: flex;
			line-height: 40px;
			border-bottom: 1px solid #fff;
			cursor: pointer;

			.position {
			    width: 40px;
			    text-align: center;
			    background: #ffa52b;
			    color: #fff;
			}

			.name {
				width: calc(100% - 100px);
				padding-left: 15px;
				display: flex;
				align-items: center;
				img {
					width: 25px !important;
					display: inline-block !important;
					margin-right: 5px;
				}
			}

			.name:after {
	    		content: " ";
			    height: 27px;
			    width: 1px;
			    background: #d6d6d6;
			    display: inline-block;
			    float: right;
			    margin-top: 6px;
    			margin-left: auto;
			}

			.pts {
				width: 60px;
				text-align: center;
				font-size: 15px;
			}

		}

		.top_user_holder:hover, .top_user_holder:nth-child(odd):hover {
			background: #afff4d;
		}

		.top_user_holder:nth-child(odd) {
			background: #f1f1f1;
		}

		.top_user_info.top_user_holder, .top_user_info.top_user_holder:hover {
			background: #3b57c1;
			color: #fff;
			cursor: default;

			.position {
			    background: transparent;
			}

			// .position:after, .name:after {
	        //   	content: " ";
			//     height: 20px;
			//     width: 1px;
			//     background: #354eb5;
			//     display: inline-block;
			//     float: right;
			//     margin-top: 10px;
			// }

			.position:after, .name:after {
				display: none;
			}

		}

	}
}

//Dream Team Top Table
.top_table_dream_team {
	float:left;
    width: 48%;
	.top_table_holder {
		.top_user_info.top_user_holder {
			// background: #333;
		}

		.top_user_holder {
			.position {
				width: 50px;
			    font-size: 14px;
			    background: #06a1ca;
			}
		}
	}
}


//Pop Ups
.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #929292;
    color: #fff;
}

.close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.player_pop_up_logo {
    width: 150px;
    margin-right: 45px;

    img {
    	width: 100%;
    	margin-top: 9px;
    }
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.modal-body {
	.btn_holder {
		text-align: center;

		button{
		    border: none;
			color: #fff;
			line-height: 2.5;
			padding: 0 26px;
			background: #88b73a;
			margin: 20px 0 10px;;
			font-size: 15px;
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
		}
	}

	.player_stats_item {
		line-height: 2.5;
		padding: 0 10px;
		font-size: 14px;
		
		p {		
			display: flex;
			align-items: center;
			color: #3c3c3c;

			.label_stats {
				margin-right: auto;
				font-weight: bold;
			}
		}
	}

	.player_stats_item:nth-child(even) {
		background: #e0e0e0;
	}

	.player_stats_item:nth-child(odd) {
		background: #efefef;
	}
}



//player popup
.player_pop_up_stats .modal-body {
    padding: 0;

    .top_info {
        display: flex;
        align-items: center;
        padding: 10px 20px;

        .jersy {
            width: 100px;
            margin-right: 15px;

            img {
                width: 100%;
            }
        }

        .player_info {
            .name {
                font-weight: bold;
            }

            .team {
                margin: 7px 0;
            }

            .position {
                text-align: center;
                background: #4faff3;
                line-height: 1.4;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }

    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        padding: 10px 0;
        background: #a0d24b;

        .stats_item {
            width: 25%;
            text-align: center;
            border-right: 1px solid #88b73a;

            .stats_item_holder {
                display: inline-block;
                text-align: left;

                .stats_item_title {
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }
        }

        .stats_item:last-child {
            border-right: none;
        }
    }
}

@media all and (max-width: 970px) {

    .top_table { 
        font-size: 19px;
        .top_table_holder {
            .top_user_holder{
                font-size: 13.5px;

                .position {
                    font-size: 13px;
                    width: 50px;
                }

				.name {
					width: 100%;
					padding-left: 7px;
				}

				.pts {
					font-size: 13px;
				}
                
            } 
        }
    }
}


@media all and (max-width: 850px) {
	.top_table_dream_team, .top_table {
		float: none;
		width: auto;
		margin: auto;
		max-width: 600px;
		margin-bottom: 50px;
	}
}