@import 'variables';
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
    text-decoration: none;
}

a {
    cursor: pointer;
}

.nav_bar_title {
    font-size: 25px;
    padding: 30px;
    text-align: left;
    color: #f1f1f1;
    font-weight: bold;
}

.main_content_container {
    max-width: 1125px;
    margin: auto;
    padding-top: 10px;
}

.logo_main_menu {
    width: 185px;
    margin-right: 50px;
    img {
        width: 100%;
        margin: 10px 0 5px 0;
    }
}

.myaccount_menu {
    position: relative;
    float: right;
    margin-top: 12px;
    margin-left: 0;
    .row {
        padding: 0;
        margin: 0;

        .col-xs-12 {
            width: 100%;
            padding: 0 10px 0 0;
        }
    }
    .btn-primary {
        background: transparent;
        border: none;
        padding: 0;
    }
    .icon {
        font-size: 25px;
        color: #edff49;
    }

    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .caret {
        border-top: 7px dashed;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        margin-top: -5px;
    }
    .dropdown-menu {
        margin: 0 0 0 0;
        padding: 0;
        border: none;
        top: 48px;
        border-radius: 0;
        margin-left: -105px;

        .list-group-item:first-child {
            border-radius: 0;
            background: #3b57c1;
            color: #fff;
        }

        .dropdown-item {
            display: block;
            padding: 10px 20px;
            background: #fff;
            color: #3c3c3c;
            border-radius: 0;
            border-bottom: 1px solid #c7c7c7;

            span {
                display: inline-block;
                margin-left: 5px;
            }
        }
        li:last-child .dropdown-item {
            border-bottom: none;
        }
    }
}

.nav_bar_top {
    float: left;
}

nav {
    width: 100%;
    text-align: center;
    background: #3b58c1;
    .nav_bar_items {
        float: left;
        display: flex;
        justify-content: end;
        margin-top: 22px;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease;
        li {
            color: #fafafa;
            -webkit-transition: all .2s;
            transition: all .2s;
            cursor: pointer;
            font-size: 16px;
            line-height: 1;
            text-align: center;
            text-decoration: none;
            display: block;
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid;
            a {
                cursor: pointer;
                color: #fff;
            }
        }
    }
    .nav_bar_items li:last-child {
        margin-right: 0;
        border-right: none;
    }

}

@-webkit-keyframes navbg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes navbg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes navbg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.mob_menu_triger {
    display: none;
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 25px;

    a {
        color: #fff;
    }
}

@media all and (max-width: 1250px) {
    .main_content_container {
        max-width: 90%;
    }
}


@media all and (max-width: 1024px) {
    .main_content_container {
        max-width: 90%;
    }

    .logo_main_menu {
        width: 160px;
        margin-right: 35px;
    }

    .nav_bar_items {
        margin-top: 18px;
    }

    .myaccount_menu {
        margin-top: 8px;

        .dropdown-menu {
            top: 46px;
        }
    }
}

@media all and (max-width: 950px) {
    .myaccount_menu {
        margin-top: 8px;

        .dropdown-menu {
            top: 39px;
        }
    }

    nav {
        .nav_bar_items {
        position: absolute;
        //left: 0;
        right: -100%;
        width: 100%;
        opacity: 1;
        top: 45px;
        background: #fff;
        display: block;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
        z-index: 100;
        
            li {
                line-height: 2.5;
                border: none;
                margin-right: 0;
                padding-right: 0;
                border-bottom: 1px solid #eaeaea;

                a {
                    display: block;
                    color: #525252;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }

        & .open {
            right: 0;
        }
    }

    .mob_menu_triger {
        display: block;
        color: #fff;
    }

    .myaccount_menu {
        margin-top: 12px;
        margin-right: 53px;
        padding-right: 0px;
        border-right: 1px solid #ddd;
        padding-top: 0;
        line-height: 1;

        button {
            line-height: 1;

            .caret {
                margin-left: 4px;
            }
        }
        
    }

    .logo_main_menu {
        img {
            margin-top: 7px;
        }
    }
}


@media all and (max-width: 750px) {
    .logo_main_menu {
        width: 140px;
        margin-right: 0;
    }

    .mob_menu_triger {
        font-size: 21px;
        right: -40px;
        top: 3px;
    }

    .myaccount_menu {
        margin-top: 7px;

        .icon {
            font-size: 22px;
        }

        .caret {
            margin-top: 0;
        }
    }
}