<nav>
    <div class="main_content_container cf">
        <div class="nav_bar_top cf">
            <div class="logo_main_menu">
                <img src="assets/images/logo.png" alt="">
            </div>
        </div>

        <div class="nav_bar_bottom cf">
            <ul class="nav_bar_items" [ngClass]="{'open': isMenuOpen}" #menu>
                <li *ngIf="hasSquad"><a [routerLink]="['/dashboard']">Home</a></li>
                <li *ngIf="hasSquad"><a [routerLink]="['/my-team']">My Team</a></li>
                <li *ngIf="hasSquad"><a [routerLink]="['/transfers']">Transfers</a></li>
                <li *ngIf="hasSquad"><a [routerLink]="['/points']">Points</a></li>
                <!-- <li><a [routerLink]="['/dashboard']">Round</a></li> -->
                <!-- <li><a [routerLink]="[ '/players']">Players</a></li> -->
                <li *ngIf="hasSquad"><a [routerLink]="[ '/score']">Score</a></li>
                <li *ngIf="hasSquad"><a [routerLink]="[ '/leagues']">Leagues</a></li>
                <li *ngIf="!hasSquad"><a [routerLink]="['/squad-setup']">Squad Setup</a></li>                
                <li><a [routerLink]="[ '/prices']">Prizes</a></li>
                <li><a [routerLink]="[ '/news']">News</a></li>
            </ul>

            <ul class="myaccount_menu">
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pre class="card card-block card-header mb-3" *ngFor="let message of messages">{{message}}</pre>
                    </div>

                    <div class="col-xs-12 col-12 mb-3">
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                            <span class="icon"><i class="fas fa-user-circle"></i></span> <span class="caret"></span>
                          </button>
                            <ul *dropdownMenu class="dropdown-menu list-group" role="menu">
                                <button class="list-group-item" *ngFor="let league of availableLeagues" (click)="switchLeague(league)" [ngClass]="{'list-group-item-success': league.id === selectedLeague.id}">{{league.name}}</button>
                                <li role="menuitem" *ngIf="hasSquad"><a class="dropdown-item" [routerLink]="[ '/settings']"><i class="fas fa-cog"></i><span>Settings</span></a></li>
                                <li role="menuitem"><span class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i><span>Sign Out</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mob_menu_triger" #menuTrigger>
                    <span (click)="toggleNav()">
                        <i class="fas fa-bars"></i>
                    </span>
                </div>
            </ul>

           
        </div>
    </div>

</nav>