<div class="join_league">
	<h2>Join a league.</h2>

	<p>Simply enter the private league code in the box below and click on 'Join private league'.</p>

	<div class="enter_code_form">
		<form action="" (submit)="joinLeague()">
			<input type="text" placeholder="Enter league code"
			name="league_code"
			[(ngModel)]="leagueCode" 
			>
			<button class="submit_code_form">Join league</button>
		</form>
	</div>
</div>

