.create_leauge_holder {
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 1.5;

	h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	h3 {
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		margin-bottom: 20px;
	}

	button {
	    font-size: 19px;
	    border: none;
	    color: #fff;
	    background: #69ce49;
	    border-radius: 3px;
	    line-height: 2;
	    padding: 0 26px;
	    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
	    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
	    margin-right: 25px;
	}
}

.join_league {
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 1.5;

	h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	h3 {
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		margin-bottom: 20px;
	}
	
	.enter_code_form {
		input[type="text"] {
			display: block;
			width: 500px;
			max-width: 500px;
			border: none;
			background: #c0ccfb;
			padding: 5px 10px;
			margin-bottom: 20px;
		}

		button {
		    font-size: 19px;
		    border: none;
		    color: #fff;
		    background: #73d22a;
		    border-radius: 3px;
		    line-height: 2;
		    padding: 0 26px;
		    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
		    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
		    margin-right: 25px;
		}
	}
}