@import 'variables';
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
    text-decoration: none;
}

.login_btn {
    display: inline-block;
    background: $green-btn;
    color: #fff;
    border: 3px solid $green-btn;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 3px;
}

.signin_btn {
    display: inline-block;
    color: #fff;
    border: 3px solid;
    font-size: 18px;
    padding: 4px 12px;
    border-radius: 3px;
}

.main_menu {
    width: 100%;
    background: #29429c;
    padding: 10px 0 8px 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.logo_main_menu {
    float: left;
    width: 180px;
    margin-right: 35px;
}

.main_menu_holder {
    display: flex;
    align-items: center;
    max-width: 1125px;
    margin: auto;
}

.logo_main_menu img {
    width: 100%;
}

.main_menu_login {
    float: right;
}

.main_menu_login li {
    float: left;
}

.main_menu_items {
    float: left;
    width: calc(100% - 440px);
    text-transform: uppercase;
}

.main_menu_items li {
    float: left;
}

.main_menu_items a {
    color: #fff;
}

.login_main_menu,
.signin_main_menu {
    cursor: pointer;
}

.login_main_menu a {
    border: 2px solid;
    color: #5ef94e !important;
}

.signin_main_menu a {
    border: 2px solid;
}

.main_menu_login a {
    color: #fff;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
}

.main_menu_login li {
    margin-left: 25px;
}


 label {
    display: block;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 5px;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding-top: 20px;
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    top: 0;
    text-shadow: none;
    color: #ffffff;
    opacity: 1;
    font-size: 40px !important;
    bottom: 0;
    right: 0;
    background: #ff6060;
    width: 50px;
    font-size: 30px !important;
}
.modal-header {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal_login_item {
    margin-bottom: 20px;
    text-align: center;
}

.choose_league {
    label {
        text-align: left;
        color: #476fe2;
        font-size: 18px;
    }

    .form-control {
        border: none;
        box-shadow: none;
        background: #f1f1f1;
        border-radius: 0;
    }
}

.player_pop_up_logo {
    width: 150px;
    margin-right: 45px;
    margin-top: 9px;
    img {
        width: 100%;
    }
}

@media all and (max-width: 1250px) {
    .main_menu_holder {
        max-width: 90%;
    }
}