<div class="main_menu">
    <div class="main_menu_holder cf">
        <div class="logo_main_menu">
            <img src="assets/images/logo.png" alt="">
        </div>

        <nav class="main_menu_items">
            <ul class="cf">
                <li>
                    <!-- <a href="">News</a> -->
                </li>
            </ul>
        </nav>

        <nav class="main_menu_login">
            <ul class="cf">
                <li class="login_main_menu">
                    <a (click)="openModal(loginModal)">Log In</a>
                </li>

                <li class="signin_main_menu">
                    <a (click)="openModal(signUpModal)">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<ng-template #loginModal>
    <div class="modal-header">
        <h4 class="modal-title">Breedde Fantasy Log In</h4>
        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div class="modal_login_item">
            <input type="email" placeholder="Your E-mail" [(ngModel)]="email" (keyup.enter)="login('dashboard')" />
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Your password" [(ngModel)]="password" (keyup.enter)="login('dashboard')" />
        </div>


        <div class="modal_login_item">
            <button class="button_submit" (click)="login('dashboard')">Log In</button>
        </div>
    </div>
</ng-template>

<ng-template #signUpModal>
    <div class="modal-header">
        <h4 class="modal-title">Football Fantasy Sign Up</h4>
        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div class="modal_login_item text-left choose_league">
            <label for="league">Choose League</label>
            <select class="form-control" name="league" id="league" [(ngModel)]="registration.league">
				<option value="1">Romerike</option>
				<option value="2">Innlandet</option>
			</select>
        </div>

        <div class="modal_login_item">
            <input type="email" placeholder="Your E-mail" [(ngModel)]="registration.email" (keyup.enter)="register()" />
        </div>

        <div class="modal_login_item">
            <input type="text" placeholder="Choose Your Username" name="username" [(ngModel)]="registration.username" (keyup.enter)="register()" />
        </div>

        <div class="modal_login_item">
            <input type="text" placeholder="Enter First Name" [(ngModel)]="registration.first_name" (keyup.enter)="register()" />
        </div>

        <div class="modal_login_item">
            <input type="text" placeholder="Enter Last Name" [(ngModel)]="registration.last_name" (keyup.enter)="register()" />
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Your password" [(ngModel)]="registration.password" (keyup.enter)="register()" />
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Confirm Your password" [(ngModel)]="registration.passwordConfirm" (keyup.enter)="register()" />
        </div>


        <div class="modal_login_item">
            <button class="button_submit" (click)="register()">Finish registration</button>
        </div>
    </div>
</ng-template>