<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form (submit)="pushUser()">
        <h2 class="header">Add an User</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">User Name</label>
                    <input type="text" class="form-control" placeholder="User Name" id="user_name" name="userName" [(ngModel)]="model.userName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">User Email</label>
                    <input type="text" class="form-control" placeholder="E-mail" id="email" name="email" [(ngModel)]="model.email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">User Password</label>
                    <input type="text" class="form-control" placeholder="User Password" id="password" name="password" [(ngModel)]="model.password">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <h2 class="header">Remove an User</h2>
    <ul class="list-group list-group-flush user_list">
            <li class="list-group-item" id="user_list_item"><span>Name</span>
                <span>Username</span>
                <span class="controls">
                
                </span>
              </li>
            <li class="list-group-item" id="user_list_item" *ngFor="let user of userList"><span>{{user.first_name}} {{user.last_name}}</span>
                <span>{{user.username}}</span>
                <span class="controls">
                    <a class="edit" (click)="openModal(editUserModal); sendData(user)"></a>
                    <a (click)="deleteModal(user.uuid, confirmRemoveUser)" class="remove"></a>
                </span>
        </li>
    </ul>
</div>


<ng-template #editUserModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit an User</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <form (submit)="editUser()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="club_name">User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" id="user_name" name="userName" [(ngModel)]="edit.userName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="club_name">User Email</label>
                        <input type="text" class="form-control" placeholder="E-mail" id="email" name="email" [(ngModel)]="edit.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="club_name">User Password</label>
                        <div class="div">
                            <a>Send Password Reset Email</a>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>

<ng-template #confirmRemoveUser>
    <div class="modal-body text-center">
        <p>Do you want to remove User?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeUser(); modalRef.hide()">Yes</button>
    </div>
</ng-template>