@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
label {
    margin: 10px 0;
}

.header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
}

.modal_header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: #f94d4d;
    display: inline;
    text-decoration: none;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: #1ccc1c;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
}

// .list-group {
//     width: 38%;
// }
.list-group-item {
    position: relative;
    display: flex;
    margin-bottom: -1px;
    background: #dddddd08;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 5%;
    color: #403f3f;
    span {
        flex: 1;
    }
    &:first-of-type {
        border-radius: inherit;
        border-top: solid 3px;
        color: #6e6e73;
    }
}