<div class="my_team_page cf">
    <div class="cf">
        <div class="field_holder">
            <div class="field">
                <img src="assets/images/fieldx.png" alt="">
                <div class="selected-team-area">
                    <div class="selected-team formation-{{selectedFormation.name}}">
                        <div *ngFor="let player of selectedTeam; let i = index" class="position position-{{player.position | lowercase}}" [dragula]='"myTeam"' [dragulaModel]="selectedTeam[i].data" title="{{player.position}}" align="{{player.data.length > 0 ? player.data[0].last_name : ''}}">

                            <div class="player" id="{{player.data[0].id}}" (click)="playerDetails(player.data[0],playerPopUp)" *ngIf="player.data.length > 0" [ngClass]="{'captain': player.data[0].id == captainId}">
                                <img class="player-avatar" crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.data[0].club.name}}.png" alt="">
                                <div class="player-info">
                                    <span class="number">{{player.data[0].number}}</span>
                                    <span class="position">{{player.position}}</span>
                                    <!-- <span class="captain" *ngIf="player.data[0].id == captainId">C</span> -->
                                    <span class="name">{{player.data[0].first_name}} {{player.data[0].last_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my_team_bench" [dragula]='"myTeam"' [dragulaModel]="substitutions">
                <div class="my_team_bench_item" (click)="playerDetails(player,playerPopUp)" id="{{player.id}}" *ngFor="let player of substitutions" title="{{player.position}}">
                    <img src="http://api.antiqueandarts.com/api/getJersey/{{player.club.name}}.png">
                    <p class="name">{{player.first_name}} {{player.last_name}}</p>
                    <p class="position">{{player.position}}</p>
                </div>
            </div>
        </div>

        <div class="my_team_page_sidebar">
            <div class="my_team_page_sidebar_item name">
                <div>{{userMeta.user.username}}</div>
                <div class="logo_sidebar"><img src="assets/images/logo.png" alt=""></div>
            </div>

            <div class="my_team_page_sidebar_item items">
                <ul>
                    <li class="cf">
                        <span>Overall Points:</span>
                        <span>241</span>
                    </li>
                    <li class="cf">
                        <span>Overall Rank:</span>
                        <span>21</span>
                    </li>
                    <li class="cf">
                        <span>Overall Players:</span>
                        <span>1412</span>
                    </li>
                    <li class="cf">
                        <span>Gameweek Points:</span>
                        <span>24</span>
                    </li>
                    <li class="cf">
                        <span>Squad value:</span>
                        <span>{{userMeta.squadValue | currency:'NOK '}}</span>
                    </li>
                    <li class="cf">
                        <span>In the bank:</span>
                        <span>{{userMeta.meta.money | currency:'NOK '}}</span>
                    </li>
                </ul>

            </div>

            <div class="panel-panel-primary">
                <div class="panel-header">
                    <h3>Formation</h3>
                </div>
                <div class="panel-body">
                    <select (change)="updateFormation()" name="selectedFormation" id="selectedFormation" [(ngModel)]="selectedFormation" class="form-control">
                        <option *ngFor="let formation of availableFormations" [ngValue]="formation">{{formation.name}}</option>
                    </select>
                </div>
            </div>
            <div class="panel-panel-primary">
                <button class="btn btn-primary btn-block" (click)="updateTeam()">Update Team</button>
            </div>
            <div class="panel-panel-primary">
                <h3 class="text-center countdown_title">DEADLINE FOR SUBMIT YOUR TEAM</h3>
                <div class="countdown">
                    <countdown units="Days | Hours | Minutes | Seconds" end="{{deadline}}"></countdown>
                </div>
            </div>
        </div>
    </div>
</div>

<carousel *ngIf="nextRound">
    <slide>
        <ff-round [round]="nextRound" [isUpcoming]="true"></ff-round>
    </slide>
</carousel>

<ng-template #playerPopUp>
    <div class="player_pop_up">
        <div class="modal-header cf">
            <h4 class="modal-title player_name">{{ playerInfo.first_name}} {{ playerInfo.last_name }}
            </h4>
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <button class="make_captain_btn" (click)="setCaptain(playerInfo.id)">Make Captain</button>
            <button class="vie_info" (click)="openModal(viewInfo, modalRef.hide())">View Information</button>
        </div>
    </div>
</ng-template>

<ng-template #viewInfo>
    <div class="player_pop_up player_pop_up_stats">
        <div class="modal-header cf">
            <h4 class="modal-title player_name">{{playerInfo.first_name}} {{playerInfo.last_name}}</h4>
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="top_info">
                <div class="jersy">
                    <img src="http://api.antiqueandarts.com/api/getJersey/{{playerInfo.club.name}}.png" alt="First slide">
                </div>

                <div class="player_info">
                    <p class="name">{{playerInfo.first_name}} {{playerInfo.last_name}}</p>
                    <p class="team">{{playerInfo.club.name}}</p>
                    <p class="position">{{playerInfo.position}}</p>
                </div>
            </div>

            <div class="stats">
                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">GW 1</p>
                        <p class="stats_item_val">0pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Total</p>
                        <p class="stats_item_val">0pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Average</p>
                        <p class="stats_item_val">0pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Price</p>
                        <p class="stats_item_val">{{playerInfo.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>