@import 'variables';
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

// .field {
//     position: relative;
//     height: 550px;
//     margin-right: 70px;
//     margin-top: 50px;

//     img {
//         margin-top: 5px;
//     }
// }

// .player_list {
//     position: relative;
//     z-index: 10;

//     ul {
//         width: 700px;
//         margin: 30px;
//         height: 70vh;
//         overflow-y: scroll;

//         li {
//             line-height: 2.5rem;
//             font-weight: bold;
//             font-size: 1.5rem;
//             text-align: center;

//             img {
//                 height: 60px;
//             }

//             span {
//                 font-size: 1.2rem;
//                 padding: 0 20px;
//                 color: $text;

// }

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
    text-decoration: none;
}


.field_holder {
    float: left;
    width: 675px;

    .field {
        position: relative;
    
        .selected-team-area {
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 5;
            width: 100%;
        
            .selected-team {
                height: 470px;
                margin-top: 15px;
                margin-left: 60px;
                width: 550px;
                position: relative;
        
                > .position {
                    width: 70px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.41);
                    position: absolute;
                    -webkit-box-shadow: 2px 7px 15px -4px rgba(0, 0, 0, 0.3);
                    box-shadow: 2px 7px 15px -4px rgba(0, 0, 0, 0.3);
            
                    .player {
                        text-align: center;
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        
                        &.captain {

                            &::after {
                               content: 'C';
                                position: absolute;
                                top: 80px;
                                right: -25px;
                                z-index: 99;
                                width: -webkit-fit-content;
                                padding: 3px;
                                color: #000;
                                font-size: 13px;
                                background-color: #eefb47;
                                font-weight: bold;
                            }
                        }

                        img {
                            height: 60px;

                            &:hover {
        
                                + .player-info {
                                    opacity: 1;
                                }
                            }
                        }
            
                        .player-info {
                            opacity: 0;
                            pointer-events: none;
                            width: 120px;
                            height: 70px;
                            position: absolute;
                            top: -20px;
                            z-index: 9999;
                            left: -115px;
                            background-color: rgba($black, .6);
                            transition: opacity .2s ease-out;
                            text-align: left;
                            
                            .number {
                                background-color: #3b57c1;
                                padding: 5px;
                                display: inline-block;
                                font-weight: bold;
                                color: #fff;
                            }
        
                            .position {
                                background-color: #eefb48;
                                padding: 5px;
                                display: inline-block;
                                margin-left: -4px;
                                font-weight: bold;
                                line-height: 1;
                            }
                            .captain {
                                display: inline-block;
                                width: 40px;
                                height: 16px;
                                color: #ffff;
                                background: yellowgreen;
                                text-align: center;
                            }
        
                            .name {
                                display: block;
                                margin-top: 10px;
                                margin-left: 5px;
                                color: $white;
                            }
                        }
                    }
            
                    &:after {
                        content: attr(align);
                        position: absolute;
                        bottom: -26px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        text-align: center;
                        font-size: 14px;
                        color: #ffffff;
                        background-color: #c3c3c38a;
                        padding: 3px 5px 2px;
                        border-top: 3px solid #edff48;
                        width: auto;
                        word-break: normal;
                        min-width: 100%;
                        text-align: center;
                        margin: auto;
                        left: -35%;
                        right: -35%;
                    }
            
                    &.position-gk {
                        bottom: -15px;
                        left: 242px;
                    }
                }
            }
        }
    }
    .field img {
        width: 100%;
    }

    .my_team_bench {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: rgba(70,99,204,1);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        background: url('/assets/images/bg-table.jpg');
        
        .my_team_bench_item:first-child {
            border-right: 3px solid #a0d34a00;
            background: #a0d34a99;
            padding: 20px;
        }

        .my_team_bench_item {
            width: 25%;
            text-align: center;
            padding: 0 20px;

            img {
                width: 80%;
            }

            .name {
                background: rgba(255, 255, 255, 0.7);
                padding: 5px;
                width: 100%;
                margin: auto;
                font-size: 14px;
                -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.01);
                border-radius: 0;
                margin-top: 6px;
                color: #444;
            }

            .position {
                margin-top: 12px;
                font-size: 16px;
                font-weight: bold;
                color: #4b62bf;
            }
        }
    }
}

.my_team_page_sidebar {
    float: right;
    width: calc(100% - 720px);
    background: #ffffff;
    padding-bottom: 0px;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;

    .btn-block {
        background: #a0d24b;
        border: none;
        line-height: 2;
        border-radius: 0;
    }

    .name {
        font-size: 18px;
        line-height: 3;
        color: #ffffff;
        padding-left: 15px;
        background: #3b57c1;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo_sidebar {
            width: 120px;
            margin-left: auto;
            margin-right: 15px;
            img {
                width: 100%;
                vertical-align: middle;
            }
        }
    }

    .my_team_page_sidebar_item_title {
        line-height: 2.5;
        font-size: 17px;
        font-weight: bold;
        color: #3b57c1;
    }

    .items {
        padding-bottom: 1px;
    }

    ul {
        padding-top: 1px ;
        overflow: hidden;
        margin: 0 !important;

        li {
            padding: 5px 15px;
            line-height: 28px;
            background: #f9f9f9;
            border-bottom: 1px solid #fff;
            font-size: 15px;
            text-align: left;

            span:first-child {
                float: left;
                color: #737373;
            }

            span:last-child {
                float: right;
                font-size: 14px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

 

    .panel-panel-primary {
        margin: 0 !important;
        padding: 10px 20px;
        background: #f9f9f9;
        
        h3 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #353e56;
        }

        .panel-body {
            padding: 0;


        }
    }
}


.gameweek_holder {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px dotted #ddd;

    .gameweek_title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333;
    }
}

.my_team_page_sidebar {
    .panel-panel-primary {
        .countdown_title {
            color: #ff3f3f;
            margin-bottom: 15px;
        }
    }
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ff3f3f;
    font-size: 16px;
    padding: 10px 0;
    color: #fff;

    > div {
        width: 25%;
    }
}

.round_holder {
    
    .matches_info {
        overflow: hidden;
        .round_header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            color: #4c4c4c;
            background: url('/assets/images/bg-table.jpg');
            padding: 20px 40px;
            font-size: 18px;
            font-weight: bold;
 

            .logo {
                width: 200px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .round {
                margin-right: 7px;
            }

            .time {
                margin-left: 7px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            li {
                line-height: 2;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .jersy_and_team {
                    display: inline-block;
                    margin: 0 7px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    img {
                        display: inline-block;
                        width: 30px;
                    }
                    span {
                        width: 50px;
                    }

                }
                .game_time {
                    background: #4b63bf;
                    color: #fff;
                    padding: 0 10px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-radius: 3px;
                    line-height: 1.6;
                    font-size: 14px;
                    font-weight: 100;
                }
       
            }
            li:nth-child(even) {
                background: #fff;
                color: #333;
                font-weight: 100;
            }
            li:nth-child(odd) {
                background: #e2e2e2;
                color: #333;
                font-weight: 100;
            }
        }
    }



    .table_pagination {
        background: #a0d449;
        text-align: center;
        padding: 20px 0;

        button {
            border: none;
            width: 150px;
            line-height: 2;
            text-align: center;
            background: rgb(110, 158, 31);
            color: #ffffff;
            border: 3px solid;
            box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);

            .arrow_icon {
                margin: 0 10px;
            }
        }

        .prev {
            float: left;
            border-left: none;
        }

        .next {
            float: right;
            border-right: none;
        }
    }

    .feed_holder {
        width: 40%;
        margin: 0 0 0 10%;
        border: solid 1px #fff4f4;
        box-shadow: 3px 3px 50px 3px #ddd;
        h3 {
            font-size: 2rem;
            height: fit-content;
            background: $green;
            padding: 5px 50px;
            border-radius: 3px;
            text-align: center;
        }
        p {
            padding: 30px 150px;
        }
    }
}

.modal {
        display: flex !important;
    align-items: center;
}

.player_pop_up {
  
    
        .modal-header {
            position: relative;
            padding: 0 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #333333;
            color: #fff;

            .player_pop_up_logo {
                width: 150px;
                margin-right: 45px;
                
                img {
                    width: 100%;
                    margin-top: 6px;
                }
            }

            .player_name {
                margin-right: auto;
                font-weight: bold;
                font-size: 18px;
                margin-top: 2px;
            }

            .close {
                margin-top: 0;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background: #ff6060;
                opacity: 1;
                color: #fff;
                text-shadow: none;
                font-size: 29px;
                width: 48px;
                line-height: 1;
            }
        }

        .modal-body {
            
            button {
                width: 100%;
                display: block;
                border: none;
                line-height: 2.4;
                font-size: 16px;
                color: #fff;
            }

            .make_captain_btn {
                margin-bottom: 10px;
                background: #1f7fbd;
            }

            .vie_info {
                background: #ffa34c;
            }
        }
}


.player_pop_up_stats .modal-body {
    padding: 0;

    .top_info {
        display: flex;
        align-items: center;
        padding: 10px 20px;

        .jersy {
            width: 100px;
            margin-right: 15px;

            img {
                width: 100%;
            }
        }

        .player_info {
            .name {
                font-weight: bold;
            }

            .team {
                margin: 7px 0;
            }

            .position {
                text-align: center;
                background: #4faff3;
                line-height: 1.4;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }

    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        padding: 10px 0;
        background: #0ebb8b;

        .stats_item {
            width: 25%;
            text-align: center;
            border-right: 1px solid #0e9871;

            .stats_item_holder {
                display: inline-block;
                text-align: left;

                .stats_item_title {
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }
        }

        .stats_item:last-child {
            border-right: none;
        }
    }
}

@media all and (max-width: 1250px) {
    .countdown {
        font-size: 14px;
    }
}

@media all and (max-width: 1160px) {
    .countdown {
        font-size: 14px;
    }

    .field_holder {
        width: auto;
        max-width: 600px;
    }

    .my_team_page_sidebar {
        width: calc(100% - 665px);
    }

    .selected-team.formation-4-3-3 > .position.position-amf {
        top: 130px;
        left: 230px;
    }

    .selected-team.formation-4-5-1 > .position.position-amf {
        top: 120px;
        left: 231px;
    }

    .selected-team.formation-4-5-1 > .position.position-cf {
        top: 30px;
        left: 230px;
    }

    .selected-team.formation-4-3-3 > .position.position-cf {
        top: 30px;
        left: 230px;
    }

    .selected-team.formation-4-3-3 > .position.position-rwf {
        top: 70px;
        right: 77px;
    }

    .selected-team.formation-3-5-2 > .position.position-rwf {
        top: 70px;
        right: 77px;
    }

    .selected-team.formation-3-5-2 > .position.position-cb {
        bottom: 75px;
        left: 230px;
    }

    .selected-team.formation-3-5-2 > .position.position-amf {
        top: 125px;
        left: 230px;
    }

    .selected-team.formation-3-5-2 > .position.position-cfl {
        top: 40px;
        left: 155px;
    }

    .selected-team.formation-3-5-2 > .position.position-cfr {
        top: 45px !important;
        right: 155px !important;
    }

    .selected-team.formation-3-4-3 > .position.position-cb {
        bottom: 80px;
        left: 230px;
    }

    .selected-team.formation-3-4-3 > .position.position-cf {
        top: 30px;
        left: 230px;
    }

    .selected-team.formation-5-4-1 > .position.position-cb {
        bottom: 130px;
        left: 230px;;
    }

    .selected-team.formation-5-4-1 > .position.position-cb {
        bottom: 140px;
        left: 231px;
    }

    .selected-team.formation-5-4-1 > .position.position-cmfl {
        bottom: 225px !important;
        left: 180px !important;
    }

    .selected-team.formation-5-4-1 > .position.position-cmfr {
        bottom: 225px !important;
        right: 180px !important;
    }

    .selected-team.formation-5-4-1 > .position.position-lmf {
        top: 155px !important;
        left: 80px !important;
    }

    .selected-team.formation-5-4-1 > .position.position-rmf {
        top: 155px !important;
        right: 80px !important;
    }

    .selected-team.formation-5-4-1 > .position.position-cf {
        top: 60px;
        left: 230px;
    }

    .selected-team.formation-5-3-2 > .position.position-cb {
        bottom: 155px;
        left: 230px;
    }

    .selected-team.formation-5-3-2 > .position.position-cmfl {
        bottom: 200px !important;
        left: 150px !important;
    }

    .selected-team.formation-5-3-2 > .position.position-cmfr {
        bottom: 200px !important;
        right: 150px !important;
    }

    .selected-team.formation-5-3-2 > .position.position-amf {
        top: 145px;
        left: 230px;
    }

    .field_holder{
        .field {
            .selected-team-area{ 
                .selected-team{ 
                    height: 420px;
                    margin-top: 0px;
                    margin-left: 47px;
                    width: 510px;
                    position: relative;

                    .position {
                        width: 50px;
                        height: 25px;

                        .player {
                            img {
                                height: 46px;
                            }
                        }
                    }

                    > .position.position-gk {
                        bottom: -15px;
                        left: 228px;
                    }
                    
                    > .position.position-rmf {
                        top: 175px;
                        right: 80px;
                    }

                    > .position.position-cfr {
                        top: 65px;
                        right: 170px;
                    }

                    .selected-team > .position.position-cfl {
                        top: 65px;
                        left: 170px;
                    }

                    > .position.position-lmf {
                        top: 175px;
                        left: 80px;
                    }

                    > .position.position-lb {
                        bottom: 100px;
                        left: 55px;
                    }

                    > .position.position-rb {
                        bottom: 100px;
                        right: 55px;
                    }

                    > .position.position-cmfl {
                        bottom: 180px;
                        left: 180px;
                    }

                    > .position.position-cmfr {
                        bottom: 180px;
                        right: 180px;
                    }

                    > .position.position-cbl {
                        bottom: 70px;
                        left: 170px;
                    }

                    > .position.position-cbr {
                        bottom: 70px;
                        right: 170px;
                    }

                    .position:after {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


@media all and (max-width: 1120px) { 
    .field_holder {
        max-width: 600px;
        float: none;
        margin: auto;
    }

    .my_team_page_sidebar {
        width: auto;
        max-width: 600px;
        margin: auto;
        float: none;
        margin-top: 50px;
    }
}


@media all and (max-width: 775px) { 
    .field_holder { 
        .my_team_bench {
            .my_team_bench_item {
                padding: 10px;
                font-size: 12px;

                img {
                    width: 60%;
                }

                .position {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }

            .my_team_bench_item:first-child {
                padding: 20px 10px;
                border-right: none;
            }
        }
    }
}


@media all and (max-width: 690px) { 
    .field_holder {
        .field {
            max-width: 500px;
            margin: auto;

            .selected-team-area {
                transform: scale(0.9);
                left: -45px;
                top: -50px;
            }
        }
    }
}

@media all and (max-width: 570px) { 
    .field_holder {
        .field {
            max-width: 400px;
            margin: auto;

            .selected-team-area {
                transform: scale(0.7);
                left: -68px;
                top: -65px;

                .selected-team {
                    margin-left: 58px;
                }
            }
        }
    }
}

@media all and (max-width: 460px) { 
    .field_holder {
        .field {
            max-width: 365px;
            margin: auto;

            .selected-team-area {
                transform: scale(0.6);
                left: -77px;
                top: -68px;

                .selected-team {
                    margin-left: 40px;
                    margin-top: -5px;
                }
            }

            .position:after {
                font-size: 15px !important;
            }
        }
    }
}