<div class="my_team_page cf">
    <div class="cf">
        <div class="field_holder">
            <div class="field">
                <img src="assets/images/fieldx.png" alt="">
                <div class="selected-team-area" *ngIf="managerData.players">
                    <div class="selected-team formation-{{managerData.squad.formation}}">
                        <div *ngFor="let player of managerData.players.starting; let i = index" 
                            class="position position-{{player.position | lowercase}}"
                            title="{{player.position}}" 
                            align="{{player.last_name}}">

                            <div class="player" (click)="playerDetails(player.id,player.first_name,
                            player.last_name,playerPopUp)">
                                <img class="player-avatar" crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getJersey/{{player.club.name}}.png"
                                    alt="">
                                <div class="player-info">
                                    <span class="number">{{player.number}}</span>
                                    <span class="position">{{player.position}}</span>
                                    <span class="name">{{player.first_name}} {{player.last_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my_team_bench">
                <div class="my_team_bench_item" (click)="openModal(playerPopUp)" *ngFor="let player of managerData.players.subs" title="{{player.position}}">
                    <img src="http://api.antiqueandarts.com/api/getJersey/{{player.club.name}}.png">
                    <p class="name">{{player.first_name}} {{player.last_name}}</p>
                    <p class="position">{{player.position}}</p>
                </div>
            </div>
        </div>

        <div class="my_team_page_sidebar">
            <div class="my_team_page_sidebar_item name">
                <div>{{managerData.user.name}}</div>
            </div>

            <div class="my_team_page_sidebar_item items">
                <ul>
                    <li class="cf">
                        <span>Overall Points:</span>
                        <span>{{managerData.points}}</span>
                    </li>
                    <li class="cf">
                        <span>Overall Rank:</span>
                        <span>21</span>
                    </li>
                    <li class="cf">
                        <span>Overall Players:</span>
                        <span>1412</span>
                    </li>
                    <li class="cf">
                        <span>Gameweek Points:</span>
                        <span>24</span>
                    </li>
                    <li class="cf">
                        <span>Squad value:</span>
                        <span>{{managerData.squad.value | currency:'NOK '}}</span>
                    </li>
                    <li class="cf">
                        <span>Formation:</span>
                        <span>{{managerData.squad.formation}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>