.table_holder {
    float: left;
}

.pts_table.starters {
    width: 1125px;
    tr:last-child {
        border-bottom: none;
    }
}

.pts_table.subs {
    border-top: none;
}

.pts_table {
    width: 1125px;
    th {
        padding: 8px 10px;
        background: #3b58c1;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }
    .jersy {
        width: 25px;
        vertical-align: center;
        img {
            width: 100%;
        }
    }

    .name {
        display: block;
        margin-top: 3px;
    }

    .club {
        vertical-align: sub;
        font-weight: bold;
    }
}

thead {
    border-right: 1px solid #3b57c1;
}

tbody {
    font-size: 14px;
    tr {
        border-bottom: 1px solid #ddd;
    }

    td {
        width: 90px;
        padding: 5px 7px;
        text-align: center;
        vertical-align: middle;

        img {
            margin-left: -3px;
        }
    }

    td:last-child {
        border-right: 1px solid #ddd;
    }

    td:first-child {
        text-align: left;
        width: 170px;
        padding-left: 20px;
        background: #e8e8e8;
        border-left: 1px solid #ddd;
        span {
            vertical-align: text-top;
        }

        img {
            vertical-align: sub;
        }
    }
}

.my_team_page_sidebar {
    float: right;
    width: calc(100% - 755px);
    background: #ffffff;
    padding-bottom: 0px;
    overflow: hidden;
    padding-bottom: 20px;

    .name {
        font-size: 20px;
        line-height: 2;
        color: #ffffff;
        padding-left: 25px;
        background: #3b57c1;
    }

    .my_team_page_sidebar_item_title {
        line-height: 2.5;
        font-size: 17px;
        font-weight: bold;
        color: #3b57c1;
    }

    .items {
        padding-bottom: 20px;
    }

    ul {
        padding-top: 5px;
        overflow: hidden;

        li {
            padding: 5px 15px;
            line-height: 28px;
            background: #f9f9f9;
            border-bottom: 1px solid #fff;
            font-size: 15px;
            text-align: left;

            span:first-child {
                float: left;
                color: #737373;
            }

            span:last-child {
                float: right;
                font-size: 14px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .my_team_page_sidebar_item_title, ul {
    }

    .panel-panel-primary {
        margin: 0 20px;
        padding: 10px 20px;
        background: #f9f9f9;
        
        h3 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #3b56c1;
        }

        .panel-body {
            padding: 0;


        }
    }
}


@media all and (max-width: 1250px) {
    .table_holder {
        float: left;
        width: 100%;
        overflow-x: scroll;
    }
}

@media all and (max-width: 1250px) {
    .pts_table.starters, .pts_table.subs {
        width: 900px;
    }
}