<div class="cf">
    <div class="table_holder" *ngIf="points !== undefined">
        <table class="pts_table starters">
            <thead>
                <th>Selected Team</th>
                <th>Assits</th>
                <th>Score</th>
                <th tooltip="Every 3rd Conceded Goal">3CG</th>
                <th tooltip="Clean Sheet">CS</th>
                <th tooltip="Missed Penalties">MP</th>
                <th tooltip="Saved Penalties">SP</th>
                <th tooltip="Red Cards">RC</th>
                <th tooltip="Yellow Cards">YC</th>
                <th tooltip="Auto Goal">AG</th>
                <th tooltip="Captain">Cpt</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let player of points.selected_team">
                    <td>
                        <img class="jersy" src="http://api.antiqueandarts.com/api/getJersey/{{player.club_name}}.png">
                        <span class="club">{{player.club_name | slice:0:3 | uppercase}}</span>
                        <span class="name"><strong>{{player.number}}</strong> {{player.first_name | slice:0:1}}.{{player.last_name}}</span>
                    </td>
                    <td>{{player.assist || 0}}</td>
                    <td>{{player.score || 0}}</td>
                    <td>{{player.kd_3strike || 0}}</td>
                    <td>{{player.clean || 0}}</td>
                    <td>{{player.miss || 0}}</td>
                    <td>{{player.k_save || 0}}</td>
                    <td>{{player.red || 0}}</td>
                    <td>{{player.yellow || 0}}</td>
                    <td>{{player.own_goal || 0}}</td>
                    <td>{{player.score || 0}}</td>
                    <td class="bg-success">{{player.total || 0}}</td>
                </tr>
            </tbody>
        </table>

        <table class="pts_table subs">
            <thead>
                <th>Substitutes</th>
                <th>Assits</th>
                <th>Score</th>
                <th tooltip="Every 3rd Conceded Goal">3CG</th>
                <th tooltip="Clean Sheet">CS</th>
                <th tooltip="Missed Penalties">MP</th>
                <th tooltip="Saved Penalties">SP</th>
                <th tooltip="Red Cards">RC</th>
                <th tooltip="Yellow Cards">YC</th>
                <th tooltip="Auto Goal">AG</th>
                <th tooltip="Captain">Cpt</th>
                <th>Total</th>
            </thead>

            <tbody>
            <tr *ngFor="let player of points.substitutions">
                    <td>
                        <img class="jersy" src="http://api.antiqueandarts.com/api/getJersey/{{player.club_name}}.png">
                        <span class="club">{{player.club_name | slice:0:3 | uppercase}}</span>
                        <span class="name"><strong>{{player.number}}</strong> {{player.first_name | slice:0:1}}.{{player.last_name}}</span>
                    </td>
                    <td>{{player.assist || 0}}</td>
                    <td>{{player.score || 0}}</td>
                    <td>{{player.kd_3strike || 0}}</td>
                    <td>{{player.clean || 0}}</td>
                    <td>{{player.miss || 0}}</td>
                    <td>{{player.k_save || 0}}</td>
                    <td>{{player.red || 0}}</td>
                    <td>{{player.yellow || 0}}</td>
                    <td>{{player.own_goal || 0}}</td>
                    <td>{{player.score || 0}}</td>
                    <td class="bg-success">{{player.total || 0}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div class="my_team_page_sidebar">
      <div class="my_team_page_sidebar_item name">
          <div>Arsa</div>
      </div>

      <div class="my_team_page_sidebar_item items">
          <ul>
              <li class="cf"><span>Overall Points:</span><span>241</span></li>
              <li class="cf"><span>Overall Rank:</span><span>21</span></li>
              <li class="cf"><span>Overall Players:</span><span>1412</span></li>
              <li class="cf"><span>Gameweek Points:</span><span>24</span></li>
              <li class="cf"><span>Squad value:</span><span>NOK 123</span></li>
              <li class="cf"><span>In the bank:</span><span>Nok313</span></li>
          </ul>

      </div>

  </div> -->
</div>