<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form (submit)="pushClub()">
        <h2 class="header">Add a club</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">Club Name</label>
                    <input type="text" class="form-control" placeholder="Club Name" id="club_name" name="clubname" [(ngModel)]="model.clubName">
                </div>
            </div>
            <div class="col-md-6 ng-hide">
                <div class="form-group kit-photo">
                    <label for="photo">Kit photo</label>
                    <input type="file" class="form-control" (change)="handleFileInput($event)" name="title" #fileInput>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="200" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Edit club -->
    <div class="club_edit" *ngIf="clubList.length > 0">
        <h2 class="header">Edit a Club</h2>
        <div class="close_all cf">
                <button class="btn btn-default pull-right" (click)="toggleAcc()">Toggle open</button>
            </div>
        <accordion>
            <accordion-group *ngFor="let club of clubList" [isOpen]='toggleAll'>
                <div accordion-heading class="header_controls">
                    <span class="pull-left">{{club.name}}</span>
                    <a class="edit" (click)="openModal(editClubModal); sendClubData(club.name, club.id)"></a>
                    <a (click)="deleteModal(club.id, confirmRemoveClub)" class="remove"></a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let player of club['players']">
                        <span class="player_number">{{player.number}}</span>
                        <span class="player_position">{{player.position}}</span>
                        <span class="player_name">{{player.first_name}} 
                          {{player.last_name}}</span>
                        <span class="controls">
                          <a class="edit" (click)="openModal(editPlayerModal); sendData(player.first_name, player.last_name, club.name, player.position, player.price, player.number, player.id)"></a>
                          <a (click)="deleteModal(player.id, confirmRemovePlayer)" class="remove"></a>
                      </span>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>

<ng-template #editPlayerModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit Player</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="editPlayer()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="round">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" id="first_name" name="firstName" [(ngModel)]="player.firstName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clubOne">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="lastName" [(ngModel)]="player.lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clubTwo">Club</label>
                        <select [(ngModel)]="player.club" name="club" class="form-control">
                            <option *ngFor="let club of clubList" [ngValue]="club.name">{{club.name}}</option>
                              </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clubTwo">Position</label>
                        <select [(ngModel)]="player.position" name="position" class="form-control">
                          <option value="GK">GK</option>
                          <option value="DEF">DEF</option>
                          <option value="MID">MID</option>
                          <option value="ATK">ATK</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Player Price</label>
                        <input type="number" class="form-control" placeholder="Player Price" id="price" name="price" [(ngModel)]="player.price">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="number">Player Number</label>
                        <input type="number" class="form-control" placeholder="Player Number" id="number" name="number" [(ngModel)]="player.number">
                    </div>
                </div>
            </div>
            <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>

<ng-template #editClubModal>
    <div class="modal-header">
        <h2 class="modal_header">Edit Club</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <form (submit)="editClub()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="club_name">Club Name</label>
                        <input type="text" class="form-control" placeholder="Club Name" id="club_name" name="clubname" [(ngModel)]="edit.clubName">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>


<ng-template #confirmRemovePlayer>
    <div class="modal-body text-center">
        <p>Do you want to remove Player?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removePlayer(); modalRef.hide()">Yes</button>
    </div>
</ng-template>

<ng-template #confirmRemoveClub>
    <div class="modal-body text-center">
        <p>Do you want to remove Club?</p>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="removeClub(); modalRef.hide()">Yes</button>
    </div>
</ng-template>