@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
.container {
    padding: 50px;
}

label {
    margin: 10px 0;
}

.header {
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
    display: inline-block;
}

.modal_header {
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.header_controls {
    text-align: right;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: red;
    display: inline;
    text-decoration: none;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: green;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
}

.player_number {
    font-size: 20px;
    padding: 0 20px;
    border-right: solid 1px #ddd;
}

.player_name {
    padding: 0 20px;
    color: #5a4949;
}

.player_position {
    padding: 0 20px;
    font-size: 14px;
    border-right: solid 1px #ddd;
}

.modal_header h2 {
    display: inline-block;
}

.kit-photo .source-image {
    float: right !important;
}

.kit-photo .cropper {
    display: none !important;
}