.leuges_holder {
	margin-top: 100px;
	button{
        font-size: 19px;
	    border: none;
	    margin: auto;
	    display: block;
	    width: 300px;
	    color: #fff;
	    margin-bottom: 35px;
	    border-radius: 3px;
	    line-height: 2.5;
	    padding: 0 26px;
	    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
	    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
	}

	 .create_btn {
	    background: #88b73a;
	 }

	 .renew_btn {
	 	background: #3b57c1;
	 }
}