@import 'variables';
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.main_content_container {
    max-width: 1150px;
    margin: auto;
}

// end navbar 
.home_description_website {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 80px 50px;
    background: #65186b;
    color: #fff;
    background: url('/assets/images/bg-home-desc.jpg');
    background-position: center center;
    background-size: cover;
}

.home_description_website_login {
    float: right;
    margin-top: 30px;
}

.description_home_intro_left {
    display: flex;
    align-items: center;
}

.home_description_website_login .login_btn {
    margin-right: 20px;
    background: rgba(83, 214, 68, 0.75);
    border: none;
    padding: 7px 15px;
}

.home_description_website_text {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    float: left;
    max-width: 1150px;
    margin: auto;
}

.logo_description_home {
    display: inline-block;
    width: 60px;
}

.logo_description_home img {
    width: 100%;
}

.description_home_intro h1 {
    display: inline-block;
    font-size: 34px;
    margin-bottom: 20px;
}

.home_intro_app_section {
    font-size: 17px;
    line-height: 1.5;
    background: url('/assets/images/bg-slider.jpg');
    background-size: cover;
    background-position: right center;
    border: 8px solid #4a69de;
    padding: 40px 20px;
    margin-top: 30px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.13);
}

.home_intro_app_section_left {
    float: left;
    width: 50%;
    padding-right: 25px;
}

.jersy_slider_home_holder {
    float: left;
    width: 190px;
    text-align: center;
}

.jersy_slider_home_text {
    float: right;
    width: calc(100% - 190px);
    color: #fff;
}

.jersy_slider_home_text h3,
.game_screenshot_slider_home_text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.jersy_slider_home {
    height: 170px !important;
}

.home_intro_app_section_right {
    float: right;
    width: 50%;
    padding-left: 50px;
    border-left: 3px dotted #ababab;
}

.game_screenshot_slider_home_holder {
    width: 215px;
    float: left;
    margin-right: 20px;
}

.game_screenshot_slider_home {
    height: 275px !important;
    overflow: visible !important;
}

.ui-carousel-item[_ngcontent-c4] {
    overflow: visible !important;
}

.game_screenshot_slider_home img {
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.game_screenshot_slider_home_text {
    width: calc(100% - 240px);
    float: left;
    color: #fff;
}

.top_players_home_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.player_home,
.fantasy_player_home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.player_home:last-child .player_home_position {
    border-bottom: none;
}

.player_home:nth-child(odd),
.fantasy_player_home:nth-child(odd) {
    background: #f1f1f1;
}

.player_home_name {
    font-size: 16px;
    width: calc(100% - 142px);
    line-height: 1.6;
}

.player_home_jersy {
    width: 27px;
    margin-right: 10px;
}

.player_home_pts {
    width: 60px;
}

.player_home_jersy img {
    width: 100%;
}

.fantasy_player_home_name {
    width: 300px;
}

.player_home_position,
.fantasy_player_home_position,
.fantasy_player_home_position {
    width: 35px;
    font-size: 15px;
    line-height: 35px;
    background: #4a69de;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #fff;
    margin-right: 10px;
}

.fantasy_player_home_squad_value,
.fantasy_player_home_average_pts {
    width: 80px;
}

.top_players_home {
    margin: 70px 0;
}

.division_one_home {
    width: 49%;
    float: left;
}

.division_two_home {
    width: 49%;
    float: right;
}

.list_of_top_players_home {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 3px;
}

.news_and_game_home {
    margin: 70px 0;
}

.news_home_holder {
    float: left;
    width: 70%;
    background: url('/assets/images/bg-corner.jpg');
    padding: 30px;
    color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center right;
}

.news_home {
    position: relative;
}

.news_home_title {
    font-size: 22px;
    margin-bottom: 7px;
}

.news_content_excerpt {
    font-size: 14px;
}

.news_home_latest_title {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.news_home_img {
    width: 40%;
    float: left;
    font-size: 0;
    overflow: hidden;
}

.news_home_img img {
    width: 100%;
}

.news_home_content {
    width: 60%;
    float: right;
    padding-left: 15px;
    line-height: 1.5;
    font-size: 17px;
}

.news_home_btn {
    text-align: right;
}

.purple_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    color: #fff;
    padding: 7px 12px;
    box-shadow: 0 5px 5px 0 rgba(14, 14, 14, 0.1);
    border: 3px solid #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.purple_btn:hover {
    background: rgba(118, 255, 138, 0.43);
}

.twiter_home {
    float: right;
    width: 28%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.division_home_content {
    position: relative;
    z-index: 1;
}

.devision_home_item {
    position: relative;
    width: 50%;
    padding: 80px;
    text-align: center;
    border-radius: 5px;
}

.choose_devision_league {
    margin-top: 70px;
    border: 7px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.overlay_devision_home_item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.devision_home_item_second {
    color: #242424;
}

.devision_home_item_first {
    color: #fff
}

.devision_home_item_first .overlay_devision_home_item {
    background: rgba(95, 230, 255, 0.75);
    border-right: 3px solid #fff;
}

.devision_home_item_second .overlay_devision_home_item {
    background: rgba(128, 224, 107, 0.75);
    border-left: 3px solid #fff;
}

.devision_home_item p {
    line-height: 1.5;
    font-size: 17px;
}

.devision_home_item_first {
    float: left;
    background: url('/assets/images/bg-division1.jpg');
    background-size: cover;
    background-position: center center;
}

.devision_home_item_second {
    float: right;
    background: url('/assets/images/bg-division2.jpg');
    background-size: cover;
    background-position: center center;
}

.division_home_name {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
}

.division_home_name:after {
    content: " ";
    display: block;
    width: 60%;
    height: 2px;
    margin: auto;
    margin-top: 10px;
}

.devision_home_item_second .division_home_name:after {
    background: #fff;
}

.devision_home_item_second .division_home_name:after {
    background: #242424;
}

.division_home_btn {
    display: inline-block;
    color: #ffffff;
    padding: 10px 60px;
    font-size: 22px;
    border: 3px solid;
    margin-top: 20px;
    background: rgba(94, 249, 77, 0.57);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.division_home_btn:hover {
    color: #fff;
    background: rgba(94, 249, 77, 0.7);
}

.left,
.right {
    display: none !important;
}

.modal-title {
    margin: 0;
    margin-right: auto;
    line-height: 1.42857143;
    font-size: 20px;
    color: #eaeaea;
}

.modal-body label {
    display: block;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 5px;
}

.modal_login_item input[type="text"],
.modal_login_item input[type="password"],
.modal_login_item input[type="email"] {
    display: block;
    width: 100%;
    border: none;
    background: #f1f1f1;
    padding: 8px 15px;
}

.modal-header {
    padding: 5px 20px;
    border-bottom: none;
    background: #929292;
    border-radius: 0;
    position: relative;
}

.modal-content {
    border-radius: 0;
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    top: 0;
    text-shadow: none;
    color: #ffffff;
    opacity: 1;
    font-size: 40px !important;
    bottom: 0;
    right: 0;
    background: #ff6060;
    width: 50px;
}

.button_submit {
    display: inline-block;
    margin-top: 10px;
    background: #a0d24b;
    border: none;
    padding: 0 40px;
    color: #fff;
    font-size: 19px;
    border-radius: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    line-height: 2;
}

.modal_login_item {
    margin-bottom: 20px;
    text-align: center;
}

.twiter_home {
    float: right;
    width: 28%;
    height: 288px;
    background-size: cover;
    background-position: center center;
    overflow-y: scroll;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border: 5px solid #597bff;
}
.carousel-control .left, .carousel-control .right {
    display: none !important;
    
}

@media all and (max-width: 1250px) {
    .home_description_website {
        padding: 50px 0 75px;
    }

    .home_description_website_text {
        max-width: 90%;
    }

    .main_content_container {
        max-width: 90%;
    }
}

@media all and (max-width: 1200px) {

    .game_screenshot_slider_home_holder {
        width: 185px;
    }

    .game_screenshot_slider_home_text {
        width: calc(100% - 205px);
    }

    .home_intro_app_section_right {
        padding-left: 30px;
    }
}


@media all and (max-width: 1155px) {
    .home_intro_app_section_left {
        float: none;
        width: auto;
        padding-right: 0;
        display: flex;
        align-items: end;
    }

    .home_intro_app_section_right {
        float: none;
        width: auto;
        padding-left: 0;
        border-left: none;
        margin-top: 30px;
        display: flex;
        align-items: end;
        border-top: 4px dotted #99adfb;
        padding-top: 30px;
        padding-left: 10px;
    }

    .jersy_slider_home_text {
        float: right;
        width: calc(100% - 160px);
        color: #fff;
        margin-top: 10px;
    }

    .game_screenshot_slider_home_holder {
        width: 160px;
    }

    .jersy_slider_home_holder {
        float: left;
        width: 185px;
        text-align: center;
        margin-right: 13px;
    }

    .twiter_home {
        height: 250px;
    }
}


@media all and (max-width: 1100px) {
    .news_home_holder {
        padding: 15px;
    }

    .purple_btn {
        padding: 5px 15px;
        font-size: 15px;
    }

    .news_home_latest_title, .news_home_title {
        font-size: 20px;
    }

    .devision_home_item {
        padding: 65px;
    }
}

@media all and (max-width: 1020px) {
    .news_home_holder {
        float: none;
        width: auto;
        padding: 30px 50px;
        margin-bottom: 50px;
    }

    .twiter_home {
        height: 400px;
        float: none;
        width: 100%;
        border: 8px solid #efefef;
    }

    .news_home_img {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .top_players_home_title {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .division_one_home, .division_two_home {
        float: none;
        width: auto;
    }

    .division_one_home {
        margin-bottom: 50px;
    }

    .news_home_content {
        width: auto;
        float: none;
    }

    .news_home_title {
        font-size: 23px;
    }

    .news_content_excerpt {
        font-size: 16px;
    }

    .news_home_btn {
        text-align: left;
        margin: 15px 0;
    }

    .purple_btn {
        position: static;
        display: inline-block;
    }
}