<ff-topbar></ff-topbar>

<div class="home_description_website cf">
    <div class="home_description_website_text">
        <div class="description_home_intro cf">
            <div class="description_home_intro_left">
                <h1>Footbal Fantasy Norway</h1>
            </div>

        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>

<div class="main_content_container">
    <section class="home_intro_app_section cf">

        <div class="home_intro_app_section_left cf">

            <div class="jersy_slider_home_holder">
                <carousel [showIndicators]="false">
                    <slide>
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="First slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/kits/Kits_Romerike/Blaker.png" alt="Second slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/kits/Kits_Romerike/EidsvoldTurn.png" alt="Third slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/kits/Kits_Romerike/EidsvoldIF.png" alt="Third slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/kits/Kits_Romerike/Fet.png" alt="Third slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
            </div>

            <div class="jersy_slider_home_text">
                <h3>Pick Your Team</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    vitae dicta sunt explicabo.</p>
            </div>

        </div>


        <div class="home_intro_app_section_right cf">
            <div class="game_screenshot_slider_home_holder cf">
                <carousel [showIndicators]="false">
                    <slide>
                        <img src="assets/images/fields/field1.png" alt="First slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/fields/field2.png" alt="Second slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                        <img src="assets/images/fields/field3.jpg" alt="Third slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
            </div>

            <div class="game_screenshot_slider_home_text">
                <h3>Make Best Game Strategy</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>

    </section>

    <section class="choose_devision_league cf">
        <div class="devision_home_item devision_home_item_first">
            <div class="overlay_devision_home_item"></div>
            <div class="division_home_content">
                <h3 class="division_home_name">Romerike Division</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                <!-- <a (click)="openModal(singinModal)" class="division_home_btn">Join</a> -->
            </div>
        </div>

        <div class="devision_home_item devision_home_item_second">
            <div class="overlay_devision_home_item"></div>
            <div class="division_home_content">
                <h3 class="division_home_name">Innlandet Devision</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                <!-- <a (click)="openModal(singinModal)" class="division_home_btn">Join</a> -->
            </div>
        </div>
    </section>

    <section class="news_and_game_home cf">
        <div class="news_home_holder">
            <h3 class="news_home_latest_title">Latest News</h3>
            <div class="news_home cf">
                <div class="news_home_img">
                    <img src="assets/images/posts/test-post.jpg" alt="">
                </div>
                <div class="news_home_content">
                    <h3 class="news_home_title">Sed ut perspiciatis unde omnis</h3>
                    <p class="news_content_excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo...</p>
                    <div class="news_home_btn">
                        <a href="#" class="purple_btn">Read Article</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="twiter_home" id="twitte">
            <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'breddefantasy'}" [opts]="{tweetLimit: 20}"></ng4-twitter-timeline>
        </div>
    </section>

    <!-- <div class="top_players_footbal_fantasy_home">
        <h3 class="top_players_home_title">Top 5 Football Fantasy Players</h3>
        <div class="list_of_top_players_home">
            <div class="fantasy_player_home" *ngFor="let player of topFivePlayerList; let i = index">
                <div class="fantasy_player_home_position">{{i + 1}}</div>
                <div class="fantasy_player_home_name">{{player.first_name}} {{player.last_name}}</div>
                <div class="fantasy_player_home_squad_value">$270</div>
                <div class="fantasy_player_home_average_pts">30 pts</div> 
                <div class="fantasy_player_home_totlal_pts">{{player.points}}pts</div>
            </div>
        </div>
    </div> -->

    <section class="top_players_home cf">

        <div class="top_players_home_division division_one_home">
            <h3 class="top_players_home_title">Top 5 Players in Romerike Division</h3>
            <div class="list_of_top_players_home">
                <div class="player_home" *ngFor="let player of divOneList; let i = index">
                    <div class="player_home_position">{{i + 1 }}</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">{{player.first_name}} {{player.last_name}}</div>
                    <div class="player_home_pts">{{player.points}} pts</div>
                </div>

                <!-- <div class="player_home">
                    <div class="player_home_position">2</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Perica Ognjenovic</div>
                    <div class="player_home_pts">225 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">3</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Dejan Stankovic</div>
                    <div class="player_home_pts">216 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">4</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Didier Drogba</div>
                    <div class="player_home_pts">190 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">5</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Aleksandar Sasa Djordjevic</div>
                    <div class="player_home_pts">184 pts</div>
                </div> -->
            </div>
        </div>

        <div class="top_players_home_division division_two_home">
            <h3 class="top_players_home_title">Top 5 Players in Innlandet Devision</h3>
            <div class="list_of_top_players_home">
                <div class="player_home">
                    <div class="player_home_position">1</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Nikola Zigic</div>
                    <div class="player_home_pts">230 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">2</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Perica Ognjenovic</div>
                    <div class="player_home_pts">225 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">3</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Dejan Stankovic</div>
                    <div class="player_home_pts">216 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">4</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Didier Drogba</div>
                    <div class="player_home_pts">190 pts</div>
                </div>

                <div class="player_home">
                    <div class="player_home_position">5</div>
                    <div class="player_home_jersy">
                        <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="">
                    </div>
                    <div class="player_home_name">Aleksandar Sasa Djordjevic</div>
                    <div class="player_home_pts">184 pts</div>
                </div>
            </div>
        </div>

    </section>
</div>
<ff-footer></ff-footer>

<ng-template #loginModal>
    <div class="modal-header">
        <h4 class="modal-title">Bredde Fantasy Log In</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div class="modal_login_item">
            <input type="email" placeholder="Your E-mail">
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Your password">
        </div>


        <div class="modal_login_item">
            <button class="button_submit">Log In</button>
        </div>
    </div>
</ng-template>

<ng-template #singinModal>
    <div class="modal-header">
        <h4 class="modal-title">Bredde Fantasy Sign In</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div class="modal_login_item">
            <input type="email" placeholder="Your E-mail">
        </div>

        <div class="modal_login_item">
            <input type="text" placeholder="Choose Your Username">
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Your password">
        </div>

        <div class="modal_login_item">
            <input type="password" placeholder="Confirm Your password">
        </div>


        <div class="modal_login_item">
            <button class="button_submit">Log In</button>
        </div>
    </div>
</ng-template>