@import 'variables';
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.available-players-list {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);

	td, th {
	    border-top: 1px solid #fff;
	}
	
	.table_body {
		max-height: 445px;
		overflow-y: scroll;

		tr {
			background: #f3f3f3;
			color: #333;
		}

		tr:nth-child(odd) {
			background: #ddd;
		}
	}

	table {
	    margin-bottom: 0;
	    background: #3b57c1;
	    color: #fff;
		
		th {
			padding: 10px 5px !important;
		}

	    table {
	    	overflow-y: scroll;
		    height: 500px;
		    width: 100%;
		    display: block;
	    }

	    button {
		    padding: 4px 9px;
		    font-size: 12px;
		    line-height: 1.5;
		    border-radius: 2px;
		    margin: 5px 10px;
		    background: #88b93a;
		    border: none;
		    text-transform: uppercase;
		}

		.no {
	        width: 6%;
		    text-align: center;
		    font-size: 14px;
		}

		.name {
			width: 32%;
			padding: 0 10px;
			font-size: 14px;
		}

		.pos {
		    width: 8%;
		    text-align: center;	
		    font-size: 14px;	
		}

		.price {
		    width: 9%;
		    font-size: 14px;
		}

		.club {
			width: 29%;
			padding: 0 5px;
			font-size: 14px;
		}

	    tr, th {
	    	padding: 0;
			
			.no {
		        width: 8%;
			    text-align: center;
			    background: #3b54c1;
			    color: #fff;
			    font-size: 14px;
			}

			.name {
				width: 40%;
				padding: 0 5px;
				font-size: 14px;
			}

			.pos {
			    width: 8%;
			    text-align: center;
			    background: #edff48;
			    color: #272727;
			    font-size: 14px;			
			}

			.price {
			    font-size: 13px;
			    width: 9%;
			    text-align: center;
			}

			.club {
				width: 35%;
				padding: 0 10px;
				font-size: 14px;
			}

	    	td {
			    padding: 0;
			    padding-bottom: 0;
			    line-height: 1;
			    vertical-align: middle;
			}
	    }
	}
}

.bank-balance {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 20px;
	margin-bottom: 0;
	background: #333;

	> p {
		font-size: 16px;
		font-weight: bold;
    	color: #fff;
    	margin-right: auto;

    	span {
    		color: #edff48;
    		font-size: 14px;
    		font-weight: 100;
    	}
	}

	> button {
		border: none;
		border-radius: 3px;
		background: #88b93a;
		color: #fff;
	}
}

.desc_table {
	.desc {
		font-size: 15px;
		color: #fff;
		background: #fd5658;
	}
}

.selected_players {
	float: left;
	width: 50%;
	padding-right: 20px;
	
	.table_your_squad {
		max-height: 480px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
		overflow-y: auto;
	}

	tr:first-child {
	 	background: url('/assets/images/posts/test-post.jpg');
	  	background-size: cover;

		.title {
			background: rgba(59, 87, 193, 0.87);
			color: #fff;
		}
	}

	.bg-primary {
	    color: #fff;
	    font-weight: bold;
	    background: url('/assets/images/posts/test-post.jpg');
	  	background-size: cover;

	  	span {
	  		display: block;
	    	padding: 8px;
			background: rgba(59, 87, 193, 0.87);
	  	}
	}

	.desc {
		font-size: 15px;
	}

	.asc {
		line-height: 1;
		color: #fff;
		background: #88b73a;
	}

	.table_your_squad_header {
		background: #333;
		color: #fff;
		tr {
			background: transparent;
			line-height: 2;
		}
		.no {
			width: 10%;
		}

		.name {
			width: 40%;
		}

		.pos {
			width: 15%;
		}

		.price {
			width: 35%;
		}
	}

	.table-striped{
	    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
		
		tr {
			font-size: 14px;
			background: #ddd;
			
			td, th {
                border-bottom: 1px solid #fff;
                vertical-align: middle;
			}

			.no {
			    width: 8%;
			    text-align: center;
			}
			
			.name {
				width: 35%;
			}

			.pos {
				text-align: center;
			}

			td.no {
				background: #3b55c1;
				color: #fff;
			}
			
			td.pos {
				background: #edff48;
			}

			.remove-player {
				line-height: 1 !important;
				padding: 0;
				background: transparent;
				color: #333;
				font-size: 18px;
   				color: #fd5758;
   				border: none;
			}
		}

		tr:nth-child(even) {
			background: #f1f1f1;
		}
		
	}

}

.sidebar {
	float: right;
	width: 50%;
	padding-left: 20px;

	.filter {
	    background: url('/assets/images/posts/test-post.jpg');
	    margin-bottom: 15px;
	    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
    	background-size: cover;
		background-position: bottom;
		
		.filter_bg {
	   	 	padding: 10px;
			background: rgba(59, 87, 193, 0.8);
		    label {
		    	font-size: 14px;
		    	margin-bottom: 5px;
		    	color: #f7f7f7;
		    }

		    .form-control {
			    display: block;
			    width: 100%;
			    height: 34px;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1;
			    color: #fff;
			    border: none;
				background-color: rgba(239, 239, 239, 0.4);
				
				optgroup, option {
					color: black !important;
				}
			}
		}
	}
}

.transfer_table {
	.desc {
		background: #ff5852;
		color: #fff;
		width: 45%;
	}

	tr {
		font-size: 14px;
	}

	td {
		padding: 0 !important;
		vertical-align: middle;
		text-align: center;
	}

	.remove_transfer {
		border-radius: 0;
		font-size: 15px;

		button {
			width: 100%;
			background: #d9534f;
			color: #fff;
			border-radius: 0;
		}
	}

	.arrow_transfer {
		width: 15%;
		background: #ff9c50;
		color: #fff;

		svg {
			margin-top: 5px;
		}
	}

	.asc {
		width: 45%;
	}
}

.info_transfers {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    background: #f7f7f7;
    justify-content: center;
	margin: 15px 0;
	line-height: 2;
	font-size: 15px;

	> div {
		width: 33.3%;
		color: #868686;
		text-align: center;
	}

	> div:nth-child(2) {
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}
}

@media all and (max-width: 1120px) {
	.selected_players {
		float: none;
		width: 100%;
		padding-right: 0;
	}

	.sidebar {
		float: none;
		width: 100%;
		padding-left: 0;
		margin-top: 50px;
	}
}

@media all and (max-width: 720px) {
	.info_transfers {
		font-size: 13px;
	}
}