<div class="cf">
    <div class="bank-balance cf">
        <p>Balance: <span>{{balance | currency:'NOK '}}</span></p>
        <button class="btn btn-default pull-right" (click)="buttonFunction === 'save' ? saveTeam() : updateTeam()">{{buttonText}}</button>
    </div>

    <div class="cf">
        <!-- <div class="alert alert-danger" *ngIf="buttonFunction === 'update' && transferLeftInDb === 0">
            <h3>You have no transfer available for this round!</h3>
        </div> -->

        <div class="info_transfers" *ngIf="buttonFunction === 'update'">
                <div>Free Transfers: <strong>{{transfersLeft}}</strong></div>
                <div>Cost: <strong>{{points}}</strong> pts</div>
                <div>Bank: <strong>{{balance | currency:'NOK '}}</strong></div>
        </div>

        <div class="selected_players">
            <table class="table" *ngIf="selectedPlayers" [ngClass]="{'asc': selectedPlayers.length === 15, 'desc_table': selectedPlayers.length < 15}">
                <tr>
                    <th colspan="4" class="text-center title">Number of selected players by position</th>
                </tr>
                <tr class="desc">
                    <td>Goalkeepers: <strong>{{positionsCounter['GK']}}/2</strong></td>
                    <td>Defenders: <strong>{{positionsCounter['DEF']}}/5</strong></td>
                    <td>Midfielders: <strong>{{positionsCounter['MID']}}/5</strong></td>
                    <td>Attackers: <strong>{{positionsCounter['ATK']}}/3</strong></td>
                </tr>
            </table>

            <div *ngIf="buttonFunction === 'update' && transfers.sell.length > 0">
                <h2 class="bg-primary text-center"><span>Current Transfers</span></h2>
                <table class="table transfer_table">
                    <tr *ngFor="let transfer of transfers.sell; let i = index">
                        <td class="desc" *ngIf="transfers.sell[i]">
                            <h4>{{transfer.first_name}} {{transfer.last_name}}</h4>
                        </td>
                        <td *ngIf="transfers.sell[i]" class="arrow_transfer">
                            <span class="fa fa-arrow-right"></span>
                        </td>
                        <td class="asc" *ngIf="transfers.sell[i]">
                            <h4>{{transfers.buy[i] ? transfers.buy[i].first_name : ''}} {{transfers.buy[i] ? transfers.buy[i].last_name : ''}}</h4>
                        </td>
                        <td *ngIf="transfers.sell[i]" class="remove_transfer">
                            <button class="btn btn-danger btn-sm remove-player" (click)="removeTransfer(i)"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </table>
            </div>

            <h2 class="bg-primary text-center"><span>Selected players</span></h2>
            
            <div class="">
                <table class="table_your_squad_header">
                    <tr>
                        <th class="no">No.</th>
                        <th class="name">Name</th>
                        <th class="pos">Pos</th>
                        <th class="club">Club</th>
                        <th class="price">Price</th>
                        <th class=""></th>
                    </tr>
                </table>
                <div class="table_your_squad">
                    <table class="table table-striped">
                        <tr *ngFor="let player of selectedPlayers; let i = index">
                            <td class="no">{{player.number}}</td>
                            <td class="name">{{player.first_name}} {{player.last_name}}</td>
                            <td class="pos">{{player.position}}</td>
                            <td class="club">{{player.club.name}}</td>
                            <td class="price">{{player.price | currency:''}}</td>
                            <th class="">
                                <button *ngIf="buttonFunction === 'save'" class="btn btn-danger btn-sm remove-player" (click)="removePlayer(player, i)"><i class="fas fa-times"></i></button>
                                <button *ngIf="buttonFunction === 'update'" [disabled]="(this.transfers.sell.length !== this.transfers.buy.length)" class="btn btn-danger btn-sm" (click)="removePlayer(player, i)">SELL</button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="sidebar cf">
            <div class="filter cf">
                <div class="filter_bg cf">
                    <!-- View filter -->
                    <div class="form-group col-md-6">

                        <label for="filterView">View</label>
                        <select (change)="filterPlayers()" class="form-control" name="filterView" id="filterView" [(ngModel)]="filters.view">
                      <option value="">All players</option>
                      <optgroup label="By Position">
                          <option value="GK">Goalkeepers</option>
                          <option value="DEF">Defenders</option>
                          <option value="MID">Midfielders</option>
                          <option value="ATK">Forwards</option>
                      </optgroup>

                      <optgroup label="By Club">
                          <option *ngFor="let club of clubs" value="{{club.name}}">{{club.name}}</option>
                      </optgroup>
                </select>
                    </div>
                    <!-- Sort filter -->
                    <div class="form-group col-md-6">
                        <label for="filterSort">Sort By</label>
                        <select disabled class="form-control" name="filterSort" id="filterSort" [(ngModel)]="filters.sortBy">
                      <option value="total_points">Total score</option>
                      <option value="event_points">Round score</option>
                      <option value="now_cost">Price</option>
                      <option value="selected_by_percent">Teams selected by %</option>
                      <option value="minutes">Minutes played</option>
                      <option value="goals_scored">Goals scored</option>
                      <option value="assists">Assists</option>
                      <option value="clean_sheets">Clean sheets</option>
                      <option value="goals_conceded">Goals conceded</option>
                      <option value="own_goals">Own goals</option>
                      <option value="penalties_saved">Penalties saved</option>
                      <option value="penalties_missed">Penalties missed</option>
                      <option value="yellow_cards">Yellow cards</option>
                      <option value="red_cards">Red cards</option>
                      <option value="saves">Saves</option>
                      <option value="bonus">Bonus</option>
                      <option value="bps">Bonus Points System</option>
                      <option value="influence">Influence</option>
                      <option value="creativity">Creativity</option>
                      <option value="threat">Threat</option>
                      <option value="ict_index">ICT Index</option>
                      <option value="form">Form</option>
                      <option value="dreamteam_count">Times in Dream Team</option>
                      <option value="value_form">Value (form)</option>
                      <option value="value_season">Value (season)</option>
                      <option value="points_per_game">Points per match</option>
                      <option value="transfers_in">Transfers in</option>
                      <option value="transfers_out">Transfers out</option>
                      <option value="transfers_in_event">Transfers in (round)</option>
                      <option value="transfers_out_event">Transfers out (round)</option>
                      <option value="cost_change_start">Price rise</option>
                      <option value="cost_change_start_fall">Price fall</option>
                      <option value="cost_change_event">Price rise (round)</option>
                      <option value="cost_change_event_fall">Price fall (round)</option>
                </select>
                    </div>
                    <!-- Max price filter -->
                    <div class="form-group col-md-6">
                        <label for="filterMaxPrice">Max Price</label>
                        <select (change)="filterPlayers()" class="form-control" name="filterMaxPrice" id="filterMaxPrice" [(ngModel)]="filters.maxPrice">
                      <option value="">Unlimited</option>
                      <option value="12700">NOK 12.7K</option>
                      <option value="12200">NOK 12.2K</option>
                      <option value="11700">NOK 11.7K</option>
                      <option value="11200">NOK 11.2K</option>
                      <option value="10700">NOK 10.7K</option>
                      <option value="10200">NOK 10.2K</option>
                      <option value="9700">NOK 9.7K</option>
                      <option value="9200">NOK 9.2K</option>
                      <option value="8700">NOK 8.7K</option>
                      <option value="8200">NOK 8.2K</option>
                      <option value="7700">NOK 7.7K</option>
                      <option value="7200">NOK 7.2K</option>
                      <option value="6700">NOK 6.7K</option>
                      <option value="6200">NOK 6.2K</option>
                      <option value="5700">NOK 5.7K</option>
                      <option value="5200">NOK 5.2K</option>
                      <option value="4700">NOK 4.7K</option>
                      <option value="4200">NOK 4.2K</option>
                </select>
                    </div>
                    <!-- Name filter -->
                    <div class="form-group col-md-6">
                        <label for="filterView">Player name</label>
                        <input (keyup.enter)="filterPlayers()" type="text" class="form-control" name="filterName" id="filterName" [(ngModel)]="filters.name" />
                    </div>
                </div>
            </div>

            <div class="available-players-list">
                <table class="table table-striped">

                    <th class="no">No.</th>
                    <th class="name">Name</th>
                    <th class="pos">Pos</th>
                    <th class="club">Club</th>
                    <th class="price" (click)="orderByPrice()">Price</th>
                    <th></th>
                </table>
                <div class="table_body">
                    <table>
                        <tr *ngIf="availablePlayers.length === 0">
                            <td colspan="6">
                                <h2>No result found</h2>
                            </td>
                        </tr>
                        <tr *ngFor="let player of availablePlayers">
                            <td class="no">{{player.number}}</td>
                            <td class="name">{{player.first_name}} {{player.last_name}}</td>
                            <td class="pos">{{player.position}}</td>
                            <td class="club">{{player.club.name}}</td>
                            <td class="price">{{player.price | currency:' '}}</td>
                            <td><button class="btn btn-success btn-sm" (click)="buyPlayer(player)" [disabled]="buttonFunction === 'update' && this.transfers.sell.length === this.transfers.buy.length">Buy</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>