h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.create_league_form {
	
	.create_league_item {
		margin-bottom: 20px;
		
		label {
			display: block;
			margin-bottom: 7px;
			font-size: 17px;
		}

		input[type="text"] {
			display: block;
			width: 500px;
			max-width: 500px;
			border: 1px soild #ddd;
			padding: 5px 10px;
		}

		.submit_create_league_form {
			font-size: 19px;
		    border: none;
		    color: #fff;
		    background: #88b73a;
		    line-height: 2;
		    padding: 0 26px;
		    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
		    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
		    margin-right: 25px;
		}	
	}

}