<!-- <h2>Create a new league</h2>

<form action="" class="create_league_form">
    <div class="create_league_item">
        <label for="">League Name:</label>
        <input name="league_name" [(ngModel)]='league.name' type="text" placeholder="Enter League Name">
    </div>
    <div class="create_league_item">
        <button (click)="createLeague()" class="submit_create_league_form">Create league</button>
    </div>
</form> -->