<div class="container">
    <!-- add on submit to forms  with ngsubmit-->
    <form (submit)="pushSeason()">
        <h2 class="header">Add Season</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="club_name">Season Name</label>
                    <input type="text" class="form-control" placeholder="Season Name" id="club_name" name="clubname" [(ngModel)]="model.seasonName">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- remove a player -->

    <h2 class="header">Remove Season</h2>
    <ul class="list-group list-group-flush club_list">
        <li class="list-group-item" *ngFor="let season of seasonList">{{season.name}}
            <span class="controls">
                <a class="edit"></a>
                <a (click)="removeSeason(season.id)" class="remove"></a>
            </span>
        </li>
    </ul>
</div>