.create_leauge_holder {
    margin-bottom: 50px;
    padding-bottom: 20px;
    line-height: 1.5;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    button {
        font-size: 19px;
        border: none;
        color: #fff;
        background: #88b73a;
        line-height: 2;
        padding: 0 26px;
        -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
        margin-right: 25px;
    }
}

.join_league {
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    border-bottom: 1px dotted #ddd;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    button {
        font-size: 19px;
        border: none;
        color: #fff;
        background: #496df5;
        line-height: 2;
        padding: 0 26px;
        -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
        margin-right: 25px;
    }
}

.list_of_user_leagues_item {
    margin-bottom: 40px;
    background: #ececec;
    h3 {
        font-size: 18px;
        padding-bottom: 7px;
        background: #fff;
        font-weight: bold;
    }
    .item {
        display: flex;
        line-height: 2.5;
        border-bottom: 1px solid #fff;
        .league_name {
            width: 40%;
            text-indent: 20px;
            font-size: 14px;
        }
        .league_pos {
            width: 40%;
            text-indent: 20px;
            font-size: 14px;
        }
        .btn_leagues {
            width: 20%;
            cursor: pointer;
            color: #6d6d6d;
            span {
                margin-left: 4px;
            }
        }
    }
    .head_table {
        background: #486cf6;
        color: #fff;
        font-size: 15px;
    }
}

// Popups
.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #333333;
    color: #fff;
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.player_pop_up_logo {
    width: 150px;
    margin-right: 45px;
    margin-top: 10px;
    img {
        width: 100%;
    }
}

.close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.modal-body {
    .btn {
        display: block;
        width: 100%;
        background: #333;
        margin-bottom: 15px;
        line-height: 3;
        padding: 0;
        color: #fff;
        font-size: 15px;
        border-radius: 0 !important;
    }
    .btn_stats {
        background: #ff9d2f;
    }
    .btn_settings {
        background: #325a9c;
    }
    .btn_invite {
        background: #88b73a;
    }
    .btn_leave {
        background: #828282;
    }
    .btn_delete {
        background: #ea4040;
    }
    .btn_ban {
        background: #ffc22b;
    }
}

// from  league settings CSS 
.top_table_holder {
    overflow: hidden;
    background: #eaeaea;
}

.top_user_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.top_user_holder:hover {
    background: #fe5f5f;
    color: #fff;
}

.top_user_info.top_user_holder,
.top_user_info.top_user_holder:hover {
    background: #3b57c1;
    color: #fff;
    cursor: default;
}

.top_table .position,
.top_table .top_user_info.top_user_holder:hover .position {
    background: transparent;
}

.top_user_info .position {
    background: #3b56c1 !important;
}

.name {
    width: calc(100% - 100px);
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pts {
    width: 60px;
    text-align: center;
    font-size: 15px;
}

.top_user_holder .position {
    width: 40px;
    text-align: center;
    background: #6c8aff;
    color: #fff;
}

.top_user_holder .name:after {
    content: " ";
    height: 27px;
    width: 1px;
    background: #d6d6d6;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: auto;
}

.ban_body {
    p {
        margin-top: 15px;
    }
    .confirm_ban_btn {
        display: block;
        line-height: 2.5;
        color: #fff;
        background: #ff5151;
        padding: 0;
        width: 100%;
        border: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

.delete_body {
    p {
        margin-top: 15px;
    }
    .confirm_ban_btn {
        display: block;
        line-height: 2.5;
        color: #fff;
        background: #ff5151;
        padding: 0;
        width: 100%;
        border: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

.create_league_form {
    .create_league_item {
        margin-bottom: 20px;
        label {
            display: block;
            margin-bottom: 7px;
            font-size: 17px;
        }
        input[type="text"] {
            display: block;
            width: 500px;
            max-width: 500px;
            border: 1px soild #ddd;
            padding: 5px 10px;
        }
        .submit_create_league_form {
            font-size: 19px;
            border: none;
            color: #fff;
            background: #88b73a;
            line-height: 2;
            padding: 0 26px;
            -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
            margin-right: 25px;
        }
    }
}

.join_league {
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
        small {
            display: block;
        }
    }
    .enter_code_form {
        input[type="text"] {
            display: block;
            width: 500px;
            max-width: 500px;
            border: none;
            background: #c0ccfb;
            padding: 5px 10px;
            margin-bottom: 20px;
        }
        button {
            font-size: 19px;
            border: none;
            color: #fff;
            background: #73d22a;
            border-radius: 3px;
            line-height: 2;
            padding: 0 26px;
            -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
            margin-right: 25px;
        }
    }
}

.invite-friends-mail {
    label {
        margin: 10px 0;
    }
    input {
        margin:  20px auto;
    }
    button {
        width: 150px;
        margin: 0 auto;
    }
}
input{
    display: block;
    width: 500px;
    max-width: 500px;
    border: none;
    background: #c0ccfb;
    padding: 5px 10px;
    margin-bottom: 20px;
}