<div class="join_league">
    <h2>Join an existing league.</h2>

    <p>Join a private or public league to compete against friends and other game players.</p>

    <button (click)='openModal(joinALeague)'>Join a league</button>
</div>

<div class="create_leauge_holder">
    <h2>Create new leagues</h2>

    <p>Create a private league to compete against friends.</p>

    <button (click)='openModal(createALeague)'>Create a league</button>
</div>

<div class="list_of_user_leagues" *ngIf="privateLeagues">

    <div class="list_of_user_leagues_item">
        <h3>Your Private Leagues</h3>
        <div class="alert alert-info" *ngIf="privateLeagues.owned.length === 0">You don't own any private leagues</div>

        <div class="item head_table" *ngIf="privateLeagues.owned.length > 0">
            <div class="league_name">League Name</div>
            <div class="league_pos">League Code</div>
        </div>

        <div *ngIf="privateLeagues.owned.length > 0">
            <div class="item" *ngFor="let league of privateLeagues.owned">
                <div class="league_name">{{league.name}}</div>
                <div class="league_pos">{{league.code}}</div>
                <div class="btn_leagues" (click)="openModal(createdLeagues);sendData(league)"><i class="fas fa-cog"></i><span>Options</span></div>
            </div>
        </div>

    </div>


    <div class="list_of_user_leagues_item">
        <h3>Leagues that you are playing</h3>
        <div class="alert alert-info" *ngIf="privateLeagues.joined.length === 0">You don't play any private leagues</div>

        <div class="item head_table" *ngIf="privateLeagues.joined.length > 0">
            <div class="league_name">Leagues Name</div>
            <!-- <div class="league_pos">League Code</div> -->
        </div>

        <div *ngIf="privateLeagues.joined.length > 0">
            <div class="item" *ngFor="let league of privateLeagues.joined">
                <div class="league_name">{{league.name}}</div>
                <div class="league_pos"></div>
                <div class="btn_leagues" (click)="openModal(playingLeagues);sendData(league)"><i class="fas fa-cog"></i><span>Options</span></div>
            </div>
        </div>

    </div>

</div>
<router-outlet></router-outlet>

<ng-template #createALeague>
    <div class="modal-header">
        <h4 class="modal-title">Create a league</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body create_league_form">
        <div class="create_league_item">
            <label for="">League Name:</label>
            <input name="league_name" [(ngModel)]='creLeagueName' type="text" placeholder="Enter League Name">
        </div>
        <div class="create_league_item">
            <button (click)="modalRef.hide();createLeague()" class="submit_create_league_form">Create league</button>
        </div>
    </div>
</ng-template>

<ng-template #joinALeague>
    <div class="modal-header">
        <h4 class="modal-title">Join a league</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body join_league">
        <h2>Join a league.</h2>
        <p>Simply enter the private league code in the box below and click on
            <span class="text-muted block ">'Join private league'</span>.</p>

        <div class="enter_code_form">
            <form action="" (submit)="modalRef.hide();joinLeague()">
                <input type="text" placeholder="Enter league code" name="league_code" [(ngModel)]="leagueCode">
                <button class="submit_code_form">Join league</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #createdLeagues>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <button class="btn_stats btn" (click)="modalRef.hide(); openModal(privateLeagueTable);getLeaguePlayers(currentLeagueModal.name)">League Table</button>
        <button class="btn_settings btn" (click)="modalRef.hide(); openModal(leagueSettingsModal)">League Settings</button>
        <button class="btn_invite btn" (click)="modalRef.hide();openModal(inviteFriendsModal)">Invite Friends</button>
    </div>
</ng-template>


<ng-template #playingLeagues>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	
				<span aria-hidden="true">&times;</span>
			</button>
    </div>
    <div class="modal-body">
        <button class="btn_stats btn" (click)="modalRef.hide(); openModal(privateLeagueTable);getLeaguePlayers(currentLeagueModal.name)">League Table</button>
        <button class="btn_leave btn" (click)="modalRef.hide();leavePrivateLeague()">Leave League</button>
    </div>
</ng-template>

<!-- your private leagues modals -->

<ng-template #leagueSettingsModal>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	
				<span aria-hidden="true">&times;</span>
			</button>
    </div>
    <div class="modal-body">
        <button (click)="modalRef.hide();openModal(ban);getLeaguePlayers(currentLeagueModal.name)" class="btn_delete btn">Ban Player</button>
        <button (click)="modalRef.hide();openModal(delete)" class="btn_ban btn">Delete League</button>
    </div>
</ng-template>

<ng-template #inviteFriendsModal>
        <div class="modal-header">
            <h4 class="modal-title">{{currentLeagueModal.name}}</h4>
    
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
    
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <p class="text-center">
                    Invite friends to 
                     <strong>
                        {{currentLeagueModal.name}}
                    </strong> 
                 league</p>
                 <div class="form-group invite-friends-mail">
                    <label for="invite_email">Email:</label>
                    <input class="form-control" type="email" [(ngModel)]="inviteMail" name="invite_email" placeholder="Email of person to invite">
                    <button class="btn btn_invite" (click)="modalRef.hide()">Send</button>
                 </div>
        </div>
    </ng-template>

<ng-template #ban>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	
				<span aria-hidden="true">&times;</span>
			</button>
    </div>
    <div class="modal-body">
        <div class="top_table">

            <div class="top_table_holder">
                <div class="top_user_info top_user_holder">
                    <p class="position">Pos</p>
                    <p class="name">User</p>
                    <p class="pts"></p>
                </div>
                <div class="top_user_holder" (click)="modalRef.hide();openModal(banSure);banPlayerId(player)" *ngFor="let player of listOfPlayers; let i = index">
                    <p class="position">{{i + 1}}</p>
                    <p class="name">{{player.username}}</p>
                    <!-- <p class="name">{{player.first_name}} {{player.last_name}}</p> -->
                    <p class="pts">{{playerPoints[i]}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #privateLeagueTable>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div class="top_table" *ngIf='listOfPlayers;else noPlayers'>
            <div class="top_table_holder">
                <div class="top_user_info top_user_holder">
                    <p class="position">Pos</p>
                    <p class="name">User</p>
                    <p class="pts"></p>
                </div>
                <div class="top_user_holder" *ngFor="let player of listOfPlayers;let i = index">
                    <p class="position">{{i + 1}}</p>
                    <p class="name">{{player.username}}</p>
                    <!-- <p class="name">{{player.first_name}} {{player.last_name}}</p> -->
                    <p class="pts">{{playerPoints[i]}}</p>
                </div>
            </div>
        </div>
        <ng-template #noPlayers>
            <p>This league has no players at the moment</p>
        </ng-template>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body delete_body">
        <p>Are you sure that you want delete <strong>{{currentLeagueModal.name}}</strong> league?</p>
        <button class="confirm_ban_btn" (click)="modalRef.hide();deleteLeague()">Confirm</button>
    </div>
</ng-template>

<ng-template #banSure>
    <div class="modal-header">
        <h4 class="modal-title">{{currentLeagueModal.name}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  
		<span aria-hidden="true">&times;</span>
	  </button>
    </div>
    <div class="modal-body ban_body">
        <p>Are you sure that you want to ban <strong>{{playerToBan.username}}</strong> from league?</p>
        <button class="confirm_ban_btn" (click)="modalRef.hide();banPlayer(playerToBan.email)">Confirm</button>
    </div>
</ng-template>