.footer_holder {
	display: flex;
	flex-wrap: wrap;
	max-width: 1125px;
	margin: auto;
	border-bottom: 1px dotted #000;
}

.footer_item {
	width: 33.3%;
	margin-bottom: 40px;
	padding: 0 20px;
}

.footer_item_text {
	line-height: 1.5;
	font-size: 14px;
}

.main_footer {
	background: url('/assets/images/bg-footer.jpg');
	background-size: cover;
	background-position: bottom center;
    padding: 50px 30px 0;
    color: #5f5f5f;
    background-position: top center;
}

.payments_img {
	width: 100%;
}

.footer_item_title {
    font-size: 20px;
    margin-bottom: 17px;
    color: #333;
}

.footer_contact_list li {
	margin-bottom: 7px;
}

.copyrights {
    padding: 30px 0 30px;
    text-align: center;
    color: #333;
    font-size: 12px;
}

@media all and (max-width: 975px) { 
	.main_footer {
		padding: 0;
	}

	.footer_holder {
		display: block;
		border-bottom: none;
	}

	.footer_item {
		margin-bottom: 50px;
		width: 300px;
		margin: auto;
		margin-bottom: 50px;
		padding: 0;
	}

	.copyrights {
		padding: 15px 0 15px;
		text-align: center;
		font-size: 12px;
		background: #333;
		color: #fff;
	}

	.footer_item_title {
		font-size: 20px;
		margin-bottom: 17px;
		color: #333;
		border-bottom: 1px solid #a0a0a0;
		padding-bottom: 10px;
	}
}