
<footer class="main_footer">
	<div class="footer_holder">
		<div class="footer_item">
			<h3 class="footer_item_title">Terms & Conditions</h3>
			<div class="footer_item_text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
			</div>
		</div>

		<div class="footer_item">
			<h3 class="footer_item_title">Privacy</h3>
			<div class="footer_item_text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
			</div>
		</div>

		<div class="footer_item">
			<h3 class="footer_item_title">Payments</h3>
			<img class="payments_img" src="assets/images/payments.png" alt="">
		</div>

		<div class="footer_item">
			<h3 class="footer_item_title">Contact</h3>
			<ul class="footer_contact_list">
				<li>office@ffantasy.com</li>
				<li>+381-69-4622282</li>
				<li>Anete Andrejevic 9, Serbia, Nis</li>
			</ul>
		</div>
	</div>

	<div class="copyrights">2018 &#9400; All rights reserverd</div>
</footer>