/***** THIRD PARTY LIBRARIES IMPORTS *****/
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import 'team-shared';
@import 'formations';
@import 'reset';
@import 'variables';
html,
body {
    font-family: 'Roboto', sans-serif;
    color: $text;
    overflow-x: hidden;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus {
    outline: none;
}

.app-is-loading {
    .loading_animation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        img {
            width: 70px;
        }
    }
}

.pagination_news {
    margin-top: 50px;
    .pager {
        a {
            background: #5171ec;
            border: none;
            border-radius: 0;
            line-height: 2.5;
            color: #fff;
            padding: 0;
            width: 150px;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            transition: all .2s ease;
            cursor: pointer;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        }

        a:hover {
            background: #2c4abd;
        }
    }
}

.prices_main_holder {
    background: url('assets/images/bg-price.jpg');
}

.theme-green .bs-datepicker-head {
    background-color: #3079d6;
    border-radius: 0;
}

.table_pagination {
    background: #a0d449;
    text-align: center;
    padding: 20px 0;

    button {
        border: none;
        width: 150px;
        line-height: 2;
        text-align: center;
        background: rgba(255, 255, 255, 0.15);
        color: #223063;
        border: 3px solid;
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);

        .arrow_icon {
            margin: 0 10px;
        }
    }
    .prev {
        float: left;
        border-left: none;
        pointer-events: none;
        position: relative;
        z-index: 10;
    }
    .next {
        float: right;
        border-right: none;
        pointer-events: none;
        position: relative;
        z-index: 10;
    }
}



.countdown {

    .measurements {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        .measurements-number {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-bottom: 3px;
        }
    }
}

@media all and (max-width: 1250px) {
}