@import 'variables';

.tips_card {
    position: fixed;
    right: 0;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
    opacity: 1;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 10;

    .close_arrow {
        display: none;
    }

    .open_arrow {
        display: inline-block;
    }

    button {
        border: none;
        line-height: 2.5;
        color: #fff;
        background: #a0d24b;
        padding: 0 22px;
        border-radius: 3px;
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);
        font-size: 15px;
        vertical-align: middle;
    }

    span {
        color: #525252;
        margin-right: 8px;
        font-size: 23px;
        vertical-align: middle;
        cursor: pointer;
        .close {
            transform: translateX(300px);
        }
    }
}

.tips_card.close {
    right: -150px;
    .close_arrow {
        display: inline-block;
    }

    .open_arrow {
        display: none;
    }
}


// Popups
.modal-header {
    position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #929292;
    color: #fff;
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.player_pop_up_logo {
    width: 150px;
	margin-right: 45px;
	margin-top: 10px;
	img {
		width: 100%;
	}
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.modal-body {
	.btn {
		display: block;
		background: #a0d24b;
		margin-top: 10px;
		line-height: 40px;
		padding: 0;
		color: #fff;
        width: calc(50% - 10px);
        margin-right: 10px;
        border: none;
        border-radius: 0;
	}

    input[type="text"] {
        display: block;
        width: 100%;
        padding: 0;
        text-indent: 15px;
        line-height: 2;
        margin-bottom: 10px;
        margin-top: 10px;
        border: none;
        background: #ececec;
        font-size: 15px;
    }

    textarea {
        display: block;
        width: 100%;
        resize: none;
        height: 130px;
        background: #eee;
        border: none;
        padding: 15px;
        font-size: 15px;
    }

    button {
        line-height: 2;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 15px;
        background: #a0d24b;
        color: #fff;
        border: none;
        font-size: 17px;
        margin-bottom: 10px;
    }
}

