<div class="dashboard_holder">
	<ff-top-users></ff-top-users>
	<ff-dashboard-news></ff-dashboard-news>
	
	<carousel [showIndicators]="false" [interval]="false">
		<slide *ngFor="let round of rounds">
			<ff-round [round]="round" [isUpcoming]="round.round_no < currentRound ? false : true"></ff-round>
		</slide>
		<div class="table_pagination cf">
			<button class="prev" data-slide="prev"><i class="fas fa-caret-left arrow_icon"></i>Previous</button>
			<button class="next" data-slide="next">Next<i class="fas fa-caret-right arrow_icon"></i></button>
		</div>
	</carousel>
	
    <div class="tips_card">
        <span (click)="toggleTips($event)" class="open_arrow"><i class="fas fa-angle-right"></i></span>
        <span (click)="toggleTips($event)"class="close_arrow"><i class="fas fa-angle-left"></i></span>
        <button (click)="openModal(playingLeagues)">Submit Tip</button>
    </div>
</div>


<ng-template #playingLeagues>
		<div class="modal-header">
			<h4 class="modal-title">Submit Tip</h4>
	
			<div class="player_pop_up_logo">
				<img src="assets/images/logo.png" alt="">
			</div>
	
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
	
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body cf">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" placeholder="Message"></textarea>

            <button>Send</button>
		</div>
	</ng-template>