@import 'variables';
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}
.top_table {
	float: left;
    margin-bottom: 70px;
    width: 600px;
    max-width: 600px;

	h2 {
	    font-size: 20px;
	    margin-bottom: 10px;
	    font-weight: bold;
	}

	.top_table_holder {
	    box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.18);
	    overflow: hidden;

		.top_user_holder {
			display: flex;
			line-height: 40px;
			border-bottom: 1px solid #fff;
			cursor: pointer;

			.position {
			    width: 40px;
			    text-align: center;
			    background: #ffa52b;
			    color: #fff;
			}

			.name {
				width: calc(100% - 100px);
				padding-left: 15px;
				display: flex;
				align-items: center;
				img {
					width: 25px !important;
					display: inline-block !important;
					margin-right: 5px;
				}
			}

			.name:after {
	    		content: " ";
			    height: 27px;
			    width: 1px;
			    background: #d6d6d6;
			    display: inline-block;
			    float: right;
			    margin-top: 6px;
    			margin-left: auto;
			}

			.pts {
				width: 60px;
				text-align: center;
				font-size: 15px;
			}

		}

		.top_user_holder:hover, .top_user_holder:nth-child(odd):hover {
			background: #afff4d;
		}

		.top_user_holder:nth-child(odd) {
			background: #f1f1f1;
		}

		.top_user_info.top_user_holder, .top_user_info.top_user_holder:hover {
			background: #3b57c1;
			color: #fff;
			cursor: default;

			.position {
			    background: transparent;
			}

			// .position:after, .name:after {
	        //   	content: " ";
			//     height: 20px;
			//     width: 1px;
			//     background: #354eb5;
			//     display: inline-block;
			//     float: right;
			//     margin-top: 10px;
			// }

			.position:after, .name:after {
				display: none;
			}

		}

	}
}

//Dream Team Top Table
.top_table_dream_team {
	float:left;
    width: 48%;
	.top_table_holder {
		.top_user_info.top_user_holder {
			// background: #333;
		}

		.top_user_holder {
			.position {
				width: 50px;
			    font-size: 14px;
			    background: #06a1ca;
			}
		}
	}
}


//Pop Ups
.modal-header {
	position: relative;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #929292;
    color: #fff;
}

.modal-header .close {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff6060;
    opacity: 1;
    color: #fff;
    text-shadow: none;
    font-size: 29px;
    width: 48px;
    line-height: 1;
}

.player_pop_up_logo {
    width: 150px;
    margin-right: 45px;

    img {
    	width: 100%;
    	margin-top: 9px;
    }
}

.modal-title {
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.modal-body {
	.btn_holder {
		text-align: center;

		button{
			border: none;
			color: #fff;
			line-height: 2.5;
			padding: 0 26px;
			background: #88b73a;
			margin: 20px 0 10px;
			font-size: 15px;
			-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
			width: 100%;
		}
	}

	.player_stats_item {
		line-height: 2.5;
		padding: 0 10px;
		font-size: 14px;
		
		p {		
			display: flex;
			align-items: center;
			color: #3c3c3c;

			.label_stats {
				margin-right: auto;
				font-weight: bold;
			}
		}
	}

	.player_stats_item:nth-child(even) {
		background: #e0e0e0;
	}

	.player_stats_item:nth-child(odd) {
		background: #efefef;
	}
}



//player popup
.player_pop_up_stats .modal-body {
    padding: 0;

    .top_info {
        display: flex;
        align-items: center;
        padding: 10px 20px;

        .jersy {
            width: 100px;
            margin-right: 15px;

            img {
                width: 100%;
            }
        }

        .player_info {
            .name {
                font-weight: bold;
            }

            .team {
                margin: 7px 0;
            }

            .position {
                text-align: center;
                background: #4faff3;
                line-height: 1.4;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }

    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        padding: 10px 0;
        background: #0ebb8b;

        .stats_item {
            width: 25%;
            text-align: center;
            border-right: 1px solid #0e9871;

            .stats_item_holder {
                display: inline-block;
                text-align: left;

                .stats_item_title {
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }
        }

        .stats_item:last-child {
            border-right: none;
        }
    }



}


.pagination_list_of_managers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		li {
			width: 50px;
			text-align: center;
			background: #e0e0e0;
			line-height: 40px;
		}

		li:nth-child(odd) {
			background: #f5f5f5;
		}
	}
	button {
		display: flex;
		align-items: center;
	    border: none;
	    background: #ffa52c;
	    color: #ffffff;
	    padding: 0 30px;
	    font-size: 17px;
	    font-weight: 100;
	    line-height: 40px;

	    .icon {
	    	color: #edff48;
	    	font-size: 20px;
	    	align-items: center;
	    }

	    span {
	    	align-items: center;
	    }
	}

	.prev {
		.icon {
			margin-right: 10px;
		}
	}

	.next {
		.icon {
			margin-left: 10px;
		}
	}
}

.score_sidebar {
	float: right;
    width: calc(100% - 650px);
    margin-top: 33px;
    background: rgb(219, 84, 84);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
	background: url("/assets/images/posts/test-post.jpg");
	background-size: cover;
	background-position: bottom;

	.score_sidebar_contetn {
		background: rgba(59, 87, 193, 0.8);
  	    padding: 20px;
	}

	.btn-primary {
		border: none;
		color: #fff;
		line-height: 2.5;
		padding: 0 26px;
		background: #88b73a;
		margin: 20px 0 10px;
		border-radius: 0;
		font-size: 15px;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		transition: all .2s ease;
	}

	.btn-primary:hover {
		background: #76a725;
	}

	.score_sidebar_item {
		margin-bottom: 20px;
		.score_sidebar_item_title {
		    font-size: 16px;
		    margin-bottom: 5px;
		    color: #fff;
		}
		.stylish-input-group .input-group-addon{
		    background: white !important; 
		}
		.stylish-input-group .form-control{
			border-right:0; 
			box-shadow:0 0 0; 
			border-color:#ccc;
		}
		.stylish-input-group button{
		    border:0;
		    background:transparent;
		}
		.panel-body {
			padding: 0;
		}
	}
	
}

@media all and (max-width: 1200px) {
	.top_table {
		max-width: 500px;
	}

	.score_sidebar {
		width: calc(100% - 550px);
	}
}

@media all and (max-width: 1125px) { 
	.top_table, .score_sidebar {
		float: none;
		width: auto;
		max-width: 600px;
		margin: auto;
		margin-bottom: 50px;
	}
}