<div class="cf">


    <div class="top_table">
        <h2>List of Breede Fantasy Managers</h2>

        <div class="top_table_holder" *ngIf="topManagerList !== undefined">
            <div class="top_user_info top_user_holder">
                <p class="position">Pos</p>
                <p class="name">User</p>
                <p class="pts">Pts</p>
            </div>
            <div class="top_user_holder" (click)="managerDetails(manager, fantasyManager)" *ngFor="let manager of topManagerList.data; let i = index">
                <p class="position">{{i > 0 ? topManagerList.from + i : topManagerList.from}}</p>
                <p class="name">{{manager.first_name}} {{manager.last_name}}</p>
                <p class="pts">{{manager.points}}</p>
            </div>
        </div>

        <div class="pagination_list_of_managers">
            <!-- <button class="prev"><i class="icon fas fa-caret-left"></i><span>Prev</span></button>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>...</li>
            </ul>
            <button class="next"><span>Next</span><i class="icon fas fa-caret-right"></i></button> -->
            <ff-pagination 
            (pageNext)="nextPage($event)" 
            (pagePrevious)="previousPage($event)" 
            (pageSet)="setPage($event)" 
            [items]="topManagerList" [type]="'pagination'"></ff-pagination>
        </div>
    </div>

    <div class="score_sidebar">
        <div class="score_sidebar_contetn">
            <div class="score_sidebar_item">
                <h3 class="score_sidebar_item_title">Search Managers</h3>
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search Manager" 
                        name="searchTerm" [(ngModel)]="searchTerm" (keyup.enter)="resetPage(); getUsers()">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div class="score_sidebar_item">
                <div class="panel-panel-primary">
                    <div class="panel-header">
                        <h3 class="score_sidebar_item_title">Numbers of managers per page</h3>
                    </div>
                    <div class="panel-body">
                        <select class="form-control" name="recordsPerPage" [(ngModel)]="recordsPerPage">
                            <option value="10">10 Managers</option>
                            <option value="20">20 Managers</option>
                            <option value="30">30 Managers</option>
                            <option value="40">40 Managers</option>
                            <option value="50">50 Managers</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-panel-primary">
                <button class="btn btn-primary btn-block" (click)="resetPage(); getUsers()">Filter Managers</button>
            </div>
        </div>
    </div>

</div>

<ng-template #dreamTeamPlayer>
    <div class="player_pop_up player_pop_up_stats">
        <div class="modal-header cf">
            <h4 class="modal-title player_name">Arsenijevic Vladimir</h4>
            <div class="player_pop_up_logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="top_info">
                <div class="jersy">
                    <img src="assets/images/kits/Kits_Romerike/Aurskog-Hølan.png" alt="First slide">
                </div>

                <div class="player_info">
                    <p class="name">Arsenijevic Vladimir</p>
                    <p class="team">Brestovac</p>
                    <p class="position">Forward</p>
                </div>
            </div>

            <div class="stats">
                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">GW 30</p>
                        <p class="stats_item_val">15pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Total</p>
                        <p class="stats_item_val">80pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Average</p>
                        <p class="stats_item_val">12pts</p>
                    </div>
                </div>

                <div class="stats_item">
                    <div class="stats_item_holder">
                        <p class="stats_item_title">Price</p>
                        <p class="stats_item_val">$16</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fantasyManager>
    <div class="modal-header">
        <h4 class="modal-title">{{selectedManager.username}}</h4>

        <div class="player_pop_up_logo">
            <img src="assets/images/logo.png" alt="">
        </div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">

        <div class="player_stats_holder">
            <div class="player_stats_item cf">
                <p><span class="label_stats">PTS:</span><span class="value">{{selectedManager.points}}</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">PTS Last Gameweek:</span><span class="value">39</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">Average PTS per Game:</span><span class="value">24</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">Team Value:</span><span class="value">$245</span></p>
            </div>

            <div class="player_stats_item cf">
                <p><span class="label_stats">Start playing:</span><span class="value">{{selectedManager.startDate}}</span></p>
            </div>
        </div>

        <div class="btn_holder">
            <button (click)="viewTeamForManager()">View Team</button>
        </div>
    </div>
</ng-template>