<section class="news_and_game_home cf">
    <div class="news_home_holder">
        <h3 class="news_home_latest_title">Latest News</h3>
        <div class="news_home cf" *ngIf="latestNews !== undefined">
            <div class="news_home_img">
                <img crossorigin="anonymous" src="http://api.antiqueandarts.com/api/getImage/{{latestNews.image_path}}" alt="">
            </div>
            <div class="news_home_content">
                <h3 class="news_home_title">{{latestNews.title}}</h3>
                <p class="news_content_excerpt">{{ (latestNews.body.length > 150)? (latestNews.body | slice:0:150) + '...' : (latestNews.body) }}</p>
                <div class="news_home_btn">
                    <a routerLink="/news/{{latestNews.slug}}" class="purple_btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>

    <div class="twiter_home">
        <ng4-twitter-timeline [dataSrc]='settings' [opts]='options'></ng4-twitter-timeline>
    </div>
</section>