@import 'variables';
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

a:hover {
    text-decoration: none;
}

a {
    cursor: pointer;
}

.news_item {
    margin: 15px 0;
}
.news_holder {
    display: flex;
    flex-direction: column;
    border: solid 1px #fff4f4;
    box-shadow: 3px 3px 50px 3px #ddd;
    padding-bottom: 40px;
    h2 {
        font-size: 2rem;
        height: fit-content;
        background: $green;
        padding: 5px 50px;
        border-radius: 3px;
    }
    .news_inner {
        display: flex;
        .news_paragraphs {
            width: 60%;
            padding: 0 20px;
        }
        .news_img_holder {
            margin: 50px;
        }
    }
    button {
        text-align: center;
        padding: 0 3rem;
        text-decoration: none;
        color: $purple;
        display: block;
        -webkit-transition: all .2s;
        transition: all .2s;
        position: relative;
        font-size: 1.2rem;
        cursor: pointer;
        line-height: 2.5rem;
        border-radius: 5px;
        background: #fff;
        border: solid 3px;
        font-weight: bold;
        margin: 0 auto;
    }
    button:hover {
        background: $lightWhite;
    }
}

.news_and_game_home {
    margin: 0;
}

.top_players_footbal_fantasy_home {

}

.news_home_holder {
    float: left;
    width: 70%;
    background: url('/assets/images/bg-corner.jpg');
    padding: 10px 30px 30px 30px;
    color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center right;
}

.news_home {
    position: relative;
}

.news_home_title {
    font-size: 22px;
    margin-bottom: 7px;
}

.news_content_excerpt {
    font-size: 14px;
}

.news_home_latest_title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #eaefff;
    font-size: 20px;
    margin-top: 5px;
}

.news_home_img {
    width: 40%;
    float: left;
    font-size: 0;
    overflow: hidden;
}

.news_home_img img {
    width: 100%;
}

.news_home_content {
    width: 60%;
    float: right;
    padding-left: 15px;
    line-height: 1.5;
    font-size: 17px;
}

.news_home_btn {
    text-align: right;
}

.purple_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    color: #fff;
    padding: 5px 12px;
    box-shadow: 0 5px 5px 0 rgba(14, 14, 14, 0.1);
    border: 2px solid #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.purple_btn:hover {
    background: rgba(118, 255, 138, 0.43);
}

.twiter_home {
    float: right;
    width: 28%;
    height: 228px;
    background-size: cover;
    background-position: center center;
    overflow-y: scroll;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border: 5px solid #3a57b3;
}

@media all and (max-width: 1170px) {
    .news_home_holder {
        width: 48%;
    }

    .news_home_img {
        width: 100%;
        float: none;
        font-size: 0;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .news_home_content {
        width: 100%;
        float: none;
        padding-left: 0;
        line-height: 1.5;
        font-size: 17px;
    }

    .purple_btn {
        position: static;
        width: 200px;
        margin-top: 20px;
        text-align: center;
    }

    .news_content_excerpt {
        font-size: 17px;
        font-weight: 100;
    }

    .news_home_title {
        font-size: 20px;
        display: inline-block;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        padding-right: 25px;
        line-height: 1.4;
        margin-bottom: 8px;
        padding-bottom: 7px;
    }

    .twiter_home {
        width: 48%;
        height: 450px;
    }
}


@media all and (max-width: 980px) {
    .news_home_holder, .twiter_home {
        width: auto;
    }
    .news_home_holder, .twiter_home {
        max-width: 600px;
        float: none;
        margin: auto;
        margin-bottom: 50px;
    }
}
