@import 'variables';
*:focus {
    outline: none;
}

.search_filters_holder {
    display: flex;
    select {
        background-color: $darkGreen;
        color: $white;
        font-size: inherit;
        font-weight: bold;
        padding: .5em;
        padding-right: 2.5em;
        border: 0;
        margin: 20px;
        border-radius: 10px;
        text-indent: 0.01px;
        text-overflow: '';
        -webkit-appearance: button;
        box-shadow: 2px 3px 2px 0px #ddd;
    }
    input {
        margin: 20px;
        padding: .5em;
        border: solid 1px #ddd;
        border-radius: 10px;
        box-shadow: inset 1px 1px 1px 0px $green;
    }
}

table {
    width: 100%;
    table-layout: fixed;
    color: $text;
}

.tbl-header {
    background-color: $green;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: $purple;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

tr:hover {
    background: #dddd;
}

tr:hover:nth-child(even) {
    background: #e0dfdf;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: $text;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $green;
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px $green;
}