<div class="players_holder">
    <!-- <div class="search_filters_holder">
        <div class="club_holder">
            <select name="club" id="club">
            <option>All Clubs</option>
            <option *ngFor="let club of clubList">{{club.name}}</option>
            </select>
        </div>
        <div class="select_holder">
            <select name="position" id="position">
              <option value="">Position</option>
              <option value="forward">Forward</option>
              <option value="midfielder">Midfielder</option>
              <option value="defender">Defender</option>
              <option value="goalkeeper">Goalkeeper</option>
             </select>
        </div>
        <div class="point_holder">
            <select name="point" id="point">
                <option value="point">Point</option>
                <option value="value">Value</option>
                <option value="most_chosen">Most Chosen</option>
                <option value="goals">Goals</option>
                <option value="assists">Assists</option>
                <option value="matches_played">Matches Played</option>
                <option value="own_goal">Own Goal</option>
                <option value="penalty_saves">Penalty Saves</option>
                <option value="penalties_shot">Penalties Shot</option>
                <option value="yellow_card">Yellow Card</option>
                <option value="red_card">Red Card</option>
            </select>
        </div>
        <div class="search_holer">
            <input type="text" placeholder="Search for a player...">
        </div>
    </div> -->
    <div class="players_table">
        <section>
            <ng2-smart-table class="table" [settings]="settings" [source]="playerList"></ng2-smart-table>
        </section>
    </div>
</div>