<div class="login_holder">
    <a [routerLink]="[ '../../home']">Home</a>
    <div class="panel">
        <div class="state"><br><i class="fa fa-unlock-alt"></i><br>
            <h1>Log in</h1>
        </div>
        <div class="form">
            <input placeholder='Email' type="mail" [(ngModel)]="email" (keyup.enter)="adminLogin('admin/main')">
            <input placeholder='Password' type="password" [(ngModel)]="password" (keyup.enter)="adminLogin('admin/main')">
            <div class="login" (click)="adminLogin('admin/main')">Login</div>
        </div>
        <div class="fack"><a href="#"><i class="fa fa-question-circle"></i>Forgot password?</a></div>
    </div>

</div>