@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
* {
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

.login_holder {
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/admin-panel-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 500px;
    height: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    background: rgba(20, 21, 25, 0.79);
    margin: 100px auto;
    text-align: center;
    border-radius: 250px;
}

.panel .state {
    margin-top: 5px;
    width: 100%;
    height: 155px;
    color: white;
    font-size: 20px;
}

.panel .state i.fa-ban {
    font-size: 40px;
}

.panel .state i.fa-unlock-alt {
    font-size: 25px;
    color: white;
    line-height: 33px;
    height: 30px;
    width: 30px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid;
}

.panel .state h2 {
    font-weight: 400;
}

.panel .form {
    width: 340px;
    margin: 5px auto;
}

.panel .login {
    height: 45px;
    width: 100%;
    background-color: #8bc34a;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    position: relative;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    cursor: pointer;
}

.panel .login:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}

.panel .login:hover {
    background-color: #599b2d;
}

.panel .login:after {
    content: "\f084";
    font-family: 'FontAwesome';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #599b2d;
    color: #fff;
    text-shadow: 1px -1px #467a23, 2px -2px #487d24, 3px -3px #4a8025, 4px -4px #4b8326, 5px -5px #4d8627, 6px -6px #4f8928, 7px -7px #508c28, 8px -8px #528f29, 9px -9px #54922a, 10px -10px #55952b, 11px -11px #57982c;
    left: 0;
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}

.panel input {
    background-color: #22232a;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-size: 15px;
    height: 45px;
    border: none;
    padding-left: 15px;
    width: -webkit-calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: calc(100% - 15px);
    margin-bottom: 10px;
    color: #fff;
}

.panel input[placeholder] {
    color: #ddd;
    font-size: 15px;
    font-weight: 500;
}

.panel .fack {
    margin-top: 30px;
    font-size: 14px;
}

.panel .fack i.fa {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}

.panel .fack a:link {
    color: #fff;
}

.panel .fack a:visited {
    color: #fff;
}