<div class="container">
    <form (ngSubmit)="pushData()" class="hide_z">
        <h2 class="header">Choose which match you wish to edit</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="round">Choose Round</label>
                    <select [(ngModel)]="model.r_id" name="round" class="form-control" (change)="getMatches()">
                    <option *ngFor="let round of roundList" ngValue="{{round.round_no}}">{{round.round_no}}</option>
                  </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="match">Choose Match</label>
                    <select [(ngModel)]="model.match" name="match" class="form-control">
                  <option *ngFor="let match of matchList" [ngValue]="match.id">{{match.club1_name}} vs {{match.club2_name}}</option>
              </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="showTable">
        <h2 class="edit_header">Edit Match Info</h2>
        <h2 class="table_header">Club 1</h2>
        <ng2-smart-table class="table" [settings]="settings" [source]="club1_players" (editConfirm)="onEditConfirm($event)" class="smart-table"></ng2-smart-table>
        <h2 class="table_header">Club 2</h2>
        <ng2-smart-table class="table" [settings]="settings" [source]="club2_players" (editConfirm)="onEditConfirm($event)" class="smart-table"></ng2-smart-table>
    </div>
</div>