@import 'variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
$close: "\f00d";
$edit: "\f044";
.container {
    padding: 50px;
}

label {
    margin: 10px 0;
}

.header {
    font-size: 34px;
    color: #2a3542;
    padding: 15px;
    margin: 15px;
}

.edit_header {
    margin-top: 50px;
    display: inline-block;
    font-size: 34px;
    color: #2a3542;
}

.controls {
    text-align: right;
    position: relative;
    float: right;
}

.remove:after {
    content: $close;
    font-family: FontAwesome;
    color: red;
    display: inline;
    text-decoration: none;
}

.edit:after {
    content: $edit;
    font-family: FontAwesome;
    color: green;
    display: inline;
    vertical-align: bottom;
    padding: 0 16px;
}

.table_input {
    width: 50px;
}

.table_header {
    margin: 15px auto;
    padding: 5px 20px;
    font-size: 24px;
    border-bottom: solid 7px #254f73;
}

.table_header:last-of-type {
    border-bottom: solid 7px #a90c0e;
}

select.form-control.ng-valid.ng-dirty.ng-touched.ng-untouched {
    padding: 0 !important;
}

select.form-control.ng-untouched.ng-pristine.ng-valid {
    padding: 0px !important;
}

.smart-table table {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 70vw !important;
    // max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    // margin-left: -225px !important;
    border: solid 1px #ddd;
    margin-left: -7vw;
    overflow-x: scroll;
    tr.ng2-smart-titles {
        background: #f5f5f5;
    }
    tr.ng2-smart-row {
        border: solid 1px #f5f5f5;
    }
    // input[type=checkbox] {
    //     transform: scale(0.8);
    // }
}

@media all and (max-width: 1650px) {
    .smart-table table {
        margin-left: 0px;
    }
}

// @media all and (max-width: 1734) {
//     table {
//         margin-left: -150px;
//     }
// }